@page
@model Sim.UI.Web.Pages.Atendimento.AtendimentoCancelarModel
@{
    ViewData["Title"] = "Atendimento";
    ViewData["ActivePage"] = AtendimentoNavPages.Atendimento;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">
    <div class="col-md-12 mb-3">
        <div class="input-group">
            <span class="input-group-text">Atendimento</span>
            <input type="text" asp-for="Input.Protocolo" class="form-control" readonly>
            <input type="text" asp-for="Input.Data" class="form-control" readonly>
            <input type="text" asp-for="Input.Status" class="form-control" readonly>
            <input type="text" asp-for="Input.Id" class="form-control" readonly>
            <input type="text" asp-for="Input.Sebrae.RAE" class="form-control">
        </div>
    </div>
    <div class="col-md-12">
        <table class="table">
            <!--<caption>Informações do Cliente</caption>-->
            <thead>
                <tr>
                    <th>
                        CPF/CNPJ
                    </th>
                    <th>
                        Pessoa/Empresa
                    </th>
                    <th>
                        Contato
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Input.Pessoa != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.CPF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Email)

                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Tel_Movel)
                        </td>
                    </tr>
                }
                @if (Model.Input.Empresa != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.CNPJ)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Nome_Empresarial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Email)

                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Telefone)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <label asp-for="Input.Descricao"></label>
            </div>
            <div class="col-md-9 mb-3">
                <textarea asp-for="Input.Descricao" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Input.Descricao" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <div class="d-grid gap-2">
                    <button id="addbtn" type="submit" role="button" class="btn btn-danger">Cancelar<br /> Atendimento</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.validation.js"></script>
}
