@page
@model Sim.UI.Web.Pages.Atendimento.ConsultaModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Consultas por PF";
    ViewData["ActivePage"] = AtendimentoNavPages.Consulta;
}


<partial name="_StatusMessage" model="Model.StatusMessage" />


<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5 mb-5">
        <form method="post" asp-page-handler="ListByPessoa">
            <div class="d-flex">
                <input asp-for="Input.CPF" id="inputCPF" class="form-control form-control-sm me-2" />
                <button asp-page-handler="ListByPessoa" class="btn btn-sm btn-outline-primary" type="submit" role="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
</div>

<div>
    <table class="table table-striped">
        <caption>Lista de atendimentos!</caption>
        <thead>
            <tr>
                <th>
                    N
                </th>
                <th>
                    Protocolo
                </th>
                <th>
                    Data
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Servicos
                </th>
                <th>
                    Setor
                </th>
                <th>
                    Canal
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 0;
            }

            @if (Model.Input.ListaAtendimento != null)
            {

                @foreach (var item in Model.Input.ListaAtendimento)
                {
                    <tr>
                        <td>
                            @{cont++;}
                            @cont.ToString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Protocolo)
                        </td>
                        <td>
                            @{
                                var d1 = Convert.ToDateTime(item.Data);
                                var datainicial = d1.ToShortDateString();
                            }

                            @Html.DisplayFor(modelItem => datainicial)
                        </td>
                        <td>
                            <a href="#" class="link-secondary viewbutton" data-secao="Pessoa" data-acao="Details" data-id="@item.Pessoa.Id" data-bs-toggle="modal" data-bs-target="#viewmodal">@Html.DisplayFor(modelItem => item.Pessoa.Nome)</a>
                            @if (item.Empresa != null)
                            {
                                <a href="#" class="link-secondary viewbutton" data-secao="Empresa" data-acao="Perfil" data-id="@item.Empresa.Id" data-bs-toggle="modal" data-bs-target="#viewmodal">[@item.Empresa.CNPJ]</a>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Servicos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Setor)
                        <td>
                            @Html.DisplayFor(modelItem => item.Canal)
                        </td>
                    </tr>
                }}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="viewmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="viewmodalLabel">Detalhes</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="viewmodalData"></p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCPF').mask('000.000.000-00', { placeholder: "___.___.___-__" });
        $('#inputCNPJ').mask('00.000.000/0000-00', { placeholder: "__.___.___/____-__" });
    </script>

    <script type="text/javascript">
        $(".viewbutton").on("click", function () {
            var customerId = $(this).data('id');
            var secao = $(this).data('secao');
            var acao = $(this).data('acao');
            $.ajax({
                url: "/" + secao + "/" + acao + "?id=" + customerId,
                cache: false
            }).done(function (data) {
                $("#viewmodalData").html(data);
            });
        });</script>
}
