@page
@model Sim.UI.Web.Pages.Atendimento.ConsultaModel
@{ViewData["Title"] = "Consulta";
}

<h5>Consulta Atendimentos</h5>
<hr class="border" />
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <form method="post" asp-page-handler="ListByData">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Data</span>
                        <input asp-for="Input.DataI" class="form-control" />
                        <input asp-for="Input.DataF" class="form-control" />
                        <button asp-page-handler="ListByData" class="btn btn-primary" type="submit" role="button"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <form method="post" asp-page-handler="ListByPessoa">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">CPF</span>
                        <input asp-for="Input.CPF" id="inputCPF" class="form-control" />
                        <button asp-page-handler="ListByPessoa" class="btn btn-primary" type="submit" role="button" ><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <form method="post" asp-page-handler="ListByEmpresa">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">CNPJ</span>
                        <input asp-for="Input.CNPJ" id="inputCNPJ" class="form-control" />
                        <button asp-page-handler="ListByEmpresa" class="btn btn-primary" type="submit" role="button" ><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div>
    <table class="table table-bordered">
        <caption>Lista de atendimentos!</caption>
        <thead>
            <tr class="bg-white">
                <th>
                    N
                </th>
                <th>
                    Protocolo
                </th>
                <th>
                    Horário
                </th>
                <th>
                    Cliente
                </th>
                <th width="180px">
                    Servicos
                </th>
                <th>
                    Setor
                </th>
                <th>
                    Canal
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 0;
            }

            @if (Model.Input.ListaAtendimento != null)
            {

                @foreach (var item in Model.Input.ListaAtendimento)
                {
                    <tr class="border-bottom">
                        <td>
                            @{cont++;}
                            @cont.ToString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Protocolo)
                        </td>
                        <td>
                            @{
                                var d1 = Convert.ToDateTime(item.Data);
                                var d2 = Convert.ToDateTime(item.DataF);
                                var datainicial = d1.ToShortTimeString();
                                var datafinal = d2.ToShortTimeString();
                            }

                            @Html.DisplayFor(modelItem => datainicial)
                            @Html.DisplayFor(modelItem => datafinal)
                        </td>
                        <td>
                            <a href="#" class="link-secondary viewbutton" data-secao="Pessoa" data-acao="Details" data-id="@item.Pessoa.Id" data-bs-toggle="modal" data-bs-target="#viewmodal">@Html.DisplayFor(modelItem => item.Pessoa.Nome)</a>
                            @if (item.Empresa != null)
                            {
                                <a href="#" class="link-secondary viewbutton" data-secao="Empresa" data-acao="Perfil" data-id="@item.Empresa.Id" data-bs-toggle="modal" data-bs-target="#viewmodal">[@item.Empresa.CNPJ]</a>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Servicos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Setor)
                        <td>
                            @Html.DisplayFor(modelItem => item.Canal)
                        </td>
                        <td>
                            <a href="#" class="link-secondary" title="Alterar informações"><i class="far fa-edit"></i></a>
                            <a href="#" class="link-danger" title="Excluir informações"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="viewmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="viewmodalLabel">Detalhes</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="viewmodalData"></p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCPF').mask('000.000.000-00', { placeholder: "___.___.___-__" });
        $('#inputCNPJ').mask('00.000.000/0000-00', { placeholder: "__.___.___/____-__" });
    </script>

    <script type="text/javascript">
        $(".viewbutton").on("click", function () {
            var customerId = $(this).data('id');
            var secao = $(this).data('secao');
            var acao = $(this).data('acao');
            $.ajax({
                url: "/" + secao + "/" + acao + "?id=" + customerId,
                cache: false
            }).done(function (data) {
                var formatHtml = data;
                $("#viewmodalData").html(formatHtml);
            });
        });</script>
}