@page
@model Sim.UI.Web.Pages.Atendimento.ConsultaModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Consultas por Periodos";

    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.AtendimentoConsulta;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">

    <div class="card">

        <div class="row">
            <div class="col s12">
                <div class="input-field col s6 m4 xl2">
                    <input asp-for="Input.DataI" />
                    <label asp-for="Input.DataI"></label>
                </div>
                <div class="input-field col s6 m4 xl2">
                    <input asp-for="Input.DataF" />
                    <label asp-for="Input.DataF"></label>
                </div>
                <div class="input-field col s6 m4 xl2">
                    <input asp-for="Input.CPF" id="inputCPF" />
                    <label asp-for="Input.CPF"></label>
                </div>
                <div class="input-field col s6 m4 xl2">
                    <input asp-for="Input.Nome" />
                    <label asp-for="Input.Nome"></label>
                </div>
                <div class="input-field col s6 m4 xl2">
                    <input asp-for="Input.CNPJ" id="inputCNPJ" />
                    <label asp-for="Input.CNPJ"></label>
                </div>
                <div class="input-field col s6 m4 xl2">
                    <input asp-for="Input.RazaSocial" />
                    <label asp-for="Input.RazaSocial"></label>
                </div>
                <div class="input-field col s6 m4 xl2">
                    <input asp-for="Input.CNAE" id="inputCNAE" />
                    <label asp-for="Input.CNAE"></label>
                </div>
                <div class="input-field col s6 m4 xl2">
                    <select asp-for="Input.Servico" asp-items="@Model.ListaServicos">
                        <option selected></option>
                    </select>
                    <label asp-for="Input.Servico"></label>
                </div>
                @{
                    if (User.IsInRole("Administrador"))
                    {
                        <div class="input-field col s6 m4">
                            <select asp-for="Input.Atendente" asp-items="@Model.ListaAtendentes">
                                <option selected></option>
                            </select>
                            <label asp-for="Input.Atendente"></label>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="card-action">
            <button class="btn orange waves-effect waves-light" asp-page-handler="AtPendentes">Pendentes</button>
            <button class="btn red waves-effect waves-light" asp-page-handler="AtCancelados">Cancelados</button>

            @{
                if(User.IsInRole("Administrador"))
            {

            
                if (Model.Input.ListaAtendimento != null)
                {
                    if (Model.Input.ListaAtendimento.Count > 0)
                    {
                        <a class="btn waves-effect waves-light blue right" style="margin-left:10px;" asp-page="/Atendimento/Consultas/Lista" asp-route-p1="@Model.GetParam.param1" asp-route-p2="@Model.GetParam.param2" asp-route-p3="@Model.GetParam.param3" asp-route-p4="@Model.GetParam.param4" asp-route-p5="@Model.GetParam.param5" asp-route-p6="@Model.GetParam.param6" asp-route-p7="@Model.GetParam.param7" asp-route-p8="@Model.GetParam.param8" asp-route-p9="@Model.GetParam.param9" target="_blank">Ver Lista</a>
                        }

                    }
                }
            }
            <button class="btn waves-effect waves-light right" asp-page-handler="ListByData">Pesquisar</button>
        </div>

    </div>


</form>


<div class="card">
    <partial name="_AtendimentoList" model="Model.Input.ListaAtendimento" />
</div>

@section scripts{
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputDataI').mask('00/00/0000', { placeholder: "data inicial" });
        $('#inputDataF').mask('00/00/0000', { placeholder: "data final" });
        $('#inputCPF').mask('000.000.000-00');
        $('#inputCNPJ').mask('00.000.000/0000-00');
        $('#inputCNAE').mask('00.00-0-00');
    </script>
    <script>
        $(function () {
            $(".modal-trigger").click(function () {
                var customerId = $(this).data('id');
                $(".modal-content").empty();
                $.getJSON(`/Atendimento?id=${customerId}&handler=Preview`, (data) => {
                    $.each(data, function (i, item) {
                        $(".modal-content").append(`<div>Protocolo: ${item.protocolo}</div>`);
                        $(".modal-content").append(`<div>Data: ${item.data}</div>`);
                        $(".modal-content").append(`<div>Setor: ${item.setor}</div>`);
                        $(".modal-content").append(`<div>Canal: ${item.canal}</div>`);
                        $(".modal-content").append(`<div>Serviços: ${item.servicos}</div>`);
                        $(".modal-content").append(`<div>Descricao: ${item.descricao}</div>`);
                        $(".modal-content").append(`<div class="divider"></div>`);
                        $(".modal-content").append(`<div>Nome: ${item.pessoa.nome}</div>`);
                        $(".modal-content").append(`<div>CPF: ${item.pessoa.cpf}</div>`);
                        $(".modal-content").append(`<div>Data Nascimento: ${item.pessoa.data_Nascimento}</div>`);
                        $(".modal-content").append(`<div>CEP: ${item.pessoa.cep}</div>`);
                        $(".modal-content").append(`<div>${item.pessoa.logradouro} ${item.pessoa.numero}</div>`);
                        $(".modal-content").append(`<div>${item.pessoa.bairro}, ${item.pessoa.cidade} - ${item.pessoa.uf}</div>`);
                        $(".modal-content").append(`<div>Telefone: ${item.pessoa.tel_Movel}, E-mail: ${item.pessoa.email}</div>`);
                        $(".modal-content").append(`<div class="divider"></div>`);
                        $(".modal-content").append(`<div>${item.empresa.cnpj} ${item.empresa.situacao_Cadastral}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.nome_Empresarial}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.nome_Fantasia}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.data_Abertura}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.cnaE_Principal} ${item.empresa.atividade_Principal}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.atividade_Secundarias}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.cep} ${item.empresa.logradouro} ${item.empresa.numero}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.bairro} ${item.empresa.municipio} ${item.empresa.uf}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.telefone} ${item.empresa.email}</div>`);
                    });
                });

            });
        });
    </script>
}