@page
@model Sim.UI.Web.Pages.Atendimento.DetailModel
@{
    Layout = "/Pages/Shared/__LayoutModal.cshtml";
    ViewData["Title"] = "Detalhes do Atendimento";
}

<!--<partial name="_StatusMessage" model="Model.StatusMessage" />-->

<form method="post">
    <div class="section" hidden>
        <div class="row col s12">
            <div class="input-field col s4 m6 l3">
                <input type="text" asp-for="Input.Protocolo" readonly>
            </div>
            <div class="input-field col s4 m6 l3">
                <input type="text" asp-for="Input.Data" readonly>
            </div>
            <div class="input-field col s4 m6 l3">
                <input type="text" asp-for="Input.Status" readonly>
            </div>
            <div class="input-field col s4 m6 l3">
                <input type="text" asp-for="Input.Id" readonly>
            </div>
        </div>
    </div>
    <div class="section">
        <table class="table table-striped">
            <!--<caption>Informações do Cliente</caption>-->
            <thead>
                <tr>
                    <th>
                        CPF/CNPJ
                    </th>
                    <th>
                        Pessoa/Empresa
                    </th>
                    <th>
                        Contato
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Input.Pessoa != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.CPF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Email)

                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Tel_Movel)
                        </td>
                    </tr>
                }
                @if (Model.Input.Empresa != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.CNPJ)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Nome_Empresarial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Email)

                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Telefone)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="section">
        <div class="row">
            <div class="row col s12">
                <div class="input-field col s12 m6 l6">
                    <input asp-for="Input.Setor" readonly />
                    <label asp-for="Input.Setor" for="floatingsetor"></label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input asp-for="Input.Canal" readonly />
                    <label asp-for="Input.Canal"></label>
                </div>
            </div>
            <div class="input-field col s12">
                <input asp-for="Input.Servicos" readonly />
                <label asp-for="Input.Servicos"></label>
            </div>
            <div class="input-field col s12">
                <input asp-for="Input.Descricao" rows="3" readonly />
                <label asp-for="Input.Descricao"></label>
            </div>
        </div>
    </div>

    <div class="row" hidden>
        <div class="col-md-8">
            <div class="input-group">
                <input asp-for="Input.Sebrae.RAE" class="form-control" placeholder="Numero Atendimento RAE">
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-grid gap-2">
                <button type="submit" role="button" class="btn btn-primary">Lançar Atendimento do RAE</button>
            </div>
        </div>
    </div>

</form>

