@page
@model Sim.UI.Web.Pages.Atendimento.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["ActivePage"] = AtendimentoNavPages.Inicio;
}


<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row mt-5 mb-5">    
    <form method="post">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a asp-page="/Pessoa/Index" class="btn btn-success"><i class="fas fa-plus-circle"></i> Novo Atendimento</a>
            <div class="col-md-auto">
                <div class="input-group">
                    <span class="input-group-text">Data</span>
                    <input asp-for="Input.DataAtendimento" class="form-control" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="submit" role="button" id="button-addon2"><i class="fas fa-sync"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <table class="table table-striped">
        <caption>Lista de atendimentos!</caption>
        <thead>
            <tr>
                <th>
                    N
                </th>
                <th>
                    Protocolo
                </th>
                <th>
                    Horário
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Servicos
                </th>
                <th>
                    Setor
                </th>
                <th>
                    Canal
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 0;
            }


            @foreach (var item in Model.Input.ListaAtendimento)
            {
                <tr>
                    <td>
                        @{cont++;}
                        @cont.ToString()
                    </td>
                    <td>
                        <a href="#" class="link-secondary viewbutton" data-secao="Atendimento" data-acao="Detail" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#viewmodal">@Html.DisplayFor(modelItem => item.Protocolo)</a>                        
                    </td>
                    <td>
                        @{
                            var d1 = Convert.ToDateTime(item.Data);
                            var d2 = Convert.ToDateTime(item.DataF);
                            var datainicial = d1.ToShortTimeString();
                            var datafinal = d2.ToShortTimeString();
                        }

                        @Html.DisplayFor(modelItem => datainicial)
                        @Html.DisplayFor(modelItem => datafinal)
                    </td>
                    <td>
                        <a href="#" class="link-secondary viewbutton" data-secao="Pessoa"  data-acao="Details" data-id="@item.Pessoa.Id" data-bs-toggle="modal" data-bs-target="#viewmodal">@Html.DisplayFor(modelItem => item.Pessoa.Nome)</a>
                        @if (item.Empresa != null)
                        {
                            <a href="#" class="link-secondary viewbutton" data-secao="Empresa"  data-acao="Perfil" data-id="@item.Empresa.Id" data-bs-toggle="modal" data-bs-target="#viewmodal">[@item.Empresa.CNPJ]</a>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Servicos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Setor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Canal)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="viewmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="viewmodalLabel">Detalhes</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="viewmodalData"></p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
    $(".viewbutton").on("click", function () {
        var customerId = $(this).data('id');
        var secao = $(this).data('secao');
        var acao = $(this).data('acao');
            $.ajax({
                url: "/"+ secao +"/" + acao + "?id=" + customerId,
                cache: false
            }).done(function (data) {
                $("#viewmodalData").html(data);
            });
        });</script>
}