@page
@model Sim.UI.Web.Pages.Atendimento.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.AtendimentoDiario;
}

<!---->
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="card">

    <div class="card-title">
        <nav class="z-depth-0" style="border-bottom:solid 1px #efefef">
            <div class="nav-wrapper white">
                <form method="post" class="row" asp-page-handler="ListByPessoa">
                    <div class="input-field col s6 l6 m6">
                        <input asp-for="Input.DataAtendimento" type="search" id="inputData" required>
                        <label class="label-icon"><i class="black-text material-icons">search</i></label>
                    </div>
                    <button class="input-field btn waves-effect waves-light right z-depth-0" type="submit" name="action">Pesquisar</button>
                </form>
            </div>
        </nav>
    </div>
    <table class="responsive-table striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Protocolo
                </th>
                <th>
                    Horário
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Servicos
                </th>
                <th>
                    Setor
                </th>
                <th>
                    Canal
                </th>
                <th>
                    Ação
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 0;
            }


            @foreach (var item in Model.Input.ListaAtendimento)
            {
                <tr>

                    <td>
                        @{cont++;}
                        @cont.ToString()
                    </td>
                    <td>
                        <a class="modal-trigger" href="#viewmodal" data-id="@item.Id">@Html.DisplayFor(modelItem => item.Protocolo)</a>
                    </td>
                    <td>
                        @{
                            var d1 = Convert.ToDateTime(item.Data);
                            var d2 = Convert.ToDateTime(item.DataF);
                            var datainicial = d1.ToShortTimeString();
                            var datafinal = d2.ToShortTimeString();
                        }

                        @Html.DisplayFor(modelItem => datainicial)
                        @Html.DisplayFor(modelItem => datafinal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pessoa.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Servicos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Setor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Canal)
                    </td>
                    <td>
                        <a class="btn btn-small waves-effect" asp-page="/Atendimento/Edit" asp-route-id="@item.Id"><i class="material-icons">edit</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal Structure -->
<div id="viewmodal" class="modal modal-fixed-footer">
    <div class="modal-content"></div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

@section scripts{
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputData').mask('00/00/0000', { placeholder: "dd/mm/yyyy" });
    </script>
    <script>
        $(function () {
            $(".modal-trigger").click(function () {
                var customerId = $(this).data('id');
                $(".modal-content").empty();
                $.getJSON(`/Atendimento?id=${customerId}&handler=Preview`, (data) => {
                    $.each(data, function (i, item) {
                        $(".modal-content").append(`<div>Protocolo: ${item.protocolo}</div>`);
                        $(".modal-content").append(`<div>Data: ${item.data}</div>`);
                        $(".modal-content").append(`<div>Setor: ${item.setor}</div>`);
                        $(".modal-content").append(`<div>Canal: ${item.canal}</div>`);
                        $(".modal-content").append(`<div>Serviços: ${item.servicos}</div>`);
                        $(".modal-content").append(`<div>Descricao: ${item.descricao}</div>`);
                        $(".modal-content").append(`<div class="divider"></div>`);
                        $(".modal-content").append(`<div>Nome: ${item.pessoa.nome}</div>`);
                        $(".modal-content").append(`<div>CPF: ${item.pessoa.cpf}</div>`);
                        $(".modal-content").append(`<div>Data Nascimento: ${item.pessoa.data_Nascimento}</div>`);
                        $(".modal-content").append(`<div>CEP: ${item.pessoa.cep}</div>`);
                        $(".modal-content").append(`<div>${item.pessoa.logradouro} ${item.pessoa.numero}</div>`);
                        $(".modal-content").append(`<div>${item.pessoa.bairro}, ${item.pessoa.cidade} - ${item.pessoa.uf}</div>`);
                        $(".modal-content").append(`<div>Telefone: ${item.pessoa.tel_Movel}, E-mail: ${item.pessoa.email}</div>`);
                        $(".modal-content").append(`<div class="divider"></div>`);
                        $(".modal-content").append(`<div>${item.empresa.cnpj} ${item.empresa.situacao_Cadastral}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.nome_Empresarial}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.nome_Fantasia}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.data_Abertura}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.cnaE_Principal} ${item.empresa.atividade_Principal}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.atividade_Secundarias}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.cep} ${item.empresa.logradouro} ${item.empresa.numero}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.bairro} ${item.empresa.municipio} ${item.empresa.uf}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.telefone} ${item.empresa.email}</div>`);
                    });
                });

            });
        });
    </script>
}
