@page
@model Sim.UI.Web.Pages.Atendimento.IniciarModel
@{
    ViewData["Title"] = "Iniciar";
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.AtendimentoAtivo;
}

<!---->
<partial name="_StatusMessage" model="Model.StatusMessage" />

<form class="card" method="post">

    <div class="section">
        <div class="row center">
            <h6 class="grey-text">Noto Atendimento</h6>
        </div>
        <div class="divider"></div>
        @if (Model.Input.Pessoa == null)
        {
            <div class="row valign-wrapper">
                <div class="input-field col">
                    <input asp-for="GetCPF" id="inputCPF"/>
                    <label asp-for="GetCPF">CPF</label>                   
                </div>
                 <button asp-page-handler="IncluirPessoa" class="btn waves-effect">Incluir</button>
            </div>
        }
        else
        {
            <div class="row" hidden>
                <div class="input-field col">
                    <input asp-for="Input.Pessoa.Id" />
                    <label asp-for="Input.Pessoa.Id"></label>
                </div>
            </div>
            <table class="responsive-table striped">                
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>CPF/CNPJ</th>
                        <th>Cliente</th>
                        <th>Email</th>
                        <th>Tel.</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="material-icons blue-text">people</i></td>
                        <td>@Html.DisplayFor(modelitem => modelitem.Input.Pessoa.CPF)</td>
                        <td>@Html.DisplayFor(modelitem => modelitem.Input.Pessoa.Nome)</td>
                        <td>@Html.DisplayFor(modelitem => modelitem.Input.Pessoa.Email)</td>
                        <td>@Html.DisplayFor(modelitem => modelitem.Input.Pessoa.Tel_Movel)</td>
                        <td></td>
                    </tr>
                    @if(Model.Input.Empresa!=null)
                    {
                        <tr>
                            <td><i class="material-icons amber-text">business</i></td>
                            <td>@Html.DisplayFor(modelitem => modelitem.Input.Empresa.CNPJ)</td>
                            <td>@Html.DisplayFor(modelitem => modelitem.Input.Empresa.Nome_Empresarial)</td>
                            <td>@Html.DisplayFor(modelitem => modelitem.Input.Empresa.Email)</td>
                            <td>@Html.DisplayFor(modelitem => modelitem.Input.Empresa.Telefone)</td>
                            <td><button class="btn red lighten-1 waves-effect waves-light btn-small" asp-page-handler="RemoverEmpresa">Remover</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        
        @if (Model.Input.Empresa == null)
        {
            <div class="row valign-wrapper">
                <div class="input-field col">
                    <input asp-for="GetCNPJ" id="inputCNPJ"/>
                    <label asp-for="GetCNPJ"></label>
                </div>
                <button asp-page-handler="IncluirEmpresa" class="btn waves-effect" type="submit">Incluir</button>
            </div>
        }
        else
        {
            <div class="row" hidden>
                <div class="input-field col">
                    <input asp-for="Input.Empresa.Id" />
                    <label asp-for="Input.Empresa.Id"></label>
                </div>
            </div>
        }
    </div>
    <div class="card-action">
        <button asp-page-handler="Save" type="submit" class="btn-large waves-effect waves-light" title="Iniciar Atendimento Pessoa">Pessoa</button>
        <button asp-page-handler="Save" type="submit" class="btn-large waves-effect waves-light" title="Iniciar Atendimento Empresa">Empresa</button>
        <a asp-page="/Atendimento/Index" class="red btn-large waves-effect right"><i class="material-icons">cancel</i></a>
    </div>
</form>

@section Scripts {
    <script src="~/js/jquery.cep.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCPF').mask('000.000.000-00');
        $('#txtphone').mask('(00) 0000-0000', { placeholder: "(__) ____-____" });
        $('#txtmobile').mask('(00) 00000-0000', { placeholder: "(__) _____-____" });
        $('#inputCNPJ').mask('00.000.000/0000-00');
    </script>
}