
@page
@model Sim.UI.Web.Pages.Atendimento.NovoModel
@{
    ViewData["Title"] = "Atendimento";
}

<div class="row">
    <div class="col-md-12 mb-2">
        <a asp-page="./Index" class="btn btn-sm btn-secondary"><i class="fas fa-arrow-left"></i></a> |
        <b>Atendimento</b> : @Model.Input.Protocolo 
    </div>
    <hr />
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form class="mb-3" method="post">
    <div class="col-md-12 mb-3">
        <div class="input-group">
            <span class="input-group-text">Info!</span>
            <input type="text" asp-for="Input.Protocolo" class="form-control" readonly>
            <input type="text" asp-for="Input.Data" class="form-control" readonly>
            <input type="text" asp-for="Input.Status" class="form-control" readonly>
            <input type="text" asp-for="Input.Id" class="form-control" readonly>
        </div>
    </div>
    <div class="col-md-12 mb-4">
        <table class="table table-sm table-borderless bg-white">
            <!--<caption>Informações do Cliente</caption>-->
            <thead>
                <tr class="border-bottom shadow-sm">
                    <th>
                        CPF/CNPJ
                    </th>
                    <th>
                        Pessoa/Empresa
                    </th>
                    <th>
                        Contato
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Input.Pessoa != null)
                {
                    <tr class="border-bottom">
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.CPF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Email)

                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Tel_Movel)
                        </td>
                    </tr>
                }
                @if (Model.Input.Empresa != null)
                {
                    <tr class="border-bottom">
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.CNPJ)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Nome_Empresarial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Email)

                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Telefone)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="row col-md-12 g-2 mb-4">
            <div class="col-md-4">
                <div class="col-mb-12 mb-2">
                    <label class="form-label" asp-for="Input.Setor" for="floatingsetor"></label>
                    <select asp-for="GetSetor" class="form-select" asp-items="Model.Setores">
                        <option selected>-- Selecione um Setor --</option>
                    </select>
                </div>
                <div class="col-mb-12">
                    <label class="form-label" asp-for="Input.Canal" ></label>
                    <select asp-for="GetCanal" class="form-select"></select>
                </div>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="floatingservico">Serviços Disponível</label>
                <select asp-for="GetServico" class="form-control" size="10"></select>
            </div>
            <div class="col-md-4">
                <label class="form-label">Serviços Realizado</label>
                <select asp-for="MeusServicos" class="form-control" size="10"></select>
            </div>
            <div class="row">
                <div class="col-md-12 g-2">
                    <label asp-for="Input.Descricao"></label>
                </div>
                <div class="col-md-10 g-2 mb-3">
                    <textarea asp-for="Input.Descricao" class="form-control" rows="2"></textarea>
                    <textarea id="myservice" asp-for="Input.Servicos" class="form-control" hidden></textarea>
                </div>
                <div class="col-md-2 g-2 mb-3">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <button id="addbtn" type="submit" role="button" class="btn btn-primary">Finalizar Atendimento</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script>
    $(function () {
        $("#GetSetor").on("change", function() {
            var getSetor = $(this).val();
            //get canais de atendimento
            $("#GetCanal").empty();
            $("#GetCanal").append("<option value=''>-- Selecione um Canal --</option>");
            $.getJSON(`?handler=Canais&getSetor=${getSetor}`, (data) => {
                $.each(data, function (i, item) {
                    $("#GetCanal").append(`<option value="${item.nome}">${item.nome}</option>`);
                });
            });
            //get servicos por setor
            $("#GetServico").empty();
            $.getJSON(`?handler=Servicos&getSetor=${getSetor}`, (data) => {
                $.each(data, function (i, item) {
                    $("#GetServico").append(`<option value="${item.nome}">${item.nome}</option>`)
                });
            });
        });
        //adiciona serviços        
        $("#GetServico").on("click", function () {
            var getServico = $(this).val();
            if (getServico !== null) {
                $("#MeusServicos").append(`<option value="${getServico}">${getServico}</option>`);
                $(`#GetServico option[value="${getServico}"]`).remove();
            }
        });
        //revome serviços
        $("#MeusServicos").on("click", function () {
            var meuServico = $(this).val();
            if (meuServico !== null) {
                $("#GetServico").append(`<option value="${meuServico}">${meuServico}</option>`);
                $(`#MeusServicos option[value="${meuServico}"]`).remove();
            }
        });

        $("#addbtn").on("click", function () {
            var selected_val = $.map($(`#MeusServicos option`), function (a) {
                return a.value;
            }).join(';');
            document.getElementById("myservice").value = selected_val;            
        });
    });
    </script>
}