@page
@model Sim.UI.Web.Pages.Atendimento.NovoModel
@{
    ViewData["Title"] = "Atendimento";
}

<div class="row">
    <div class="col-md-12 mb-2">
        <a asp-page="./Index" class="btn btn-sm btn-secondary"><i class="fas fa-arrow-left"></i></a> |
        <b>Atendimento</b> : @Model.Input.Protocolo : @Model.Input.Data : @Model.Input.Status : @Model.Input.Id.ToString()
    </div>
    <hr />
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form class="mb-3" method="post">
    <div hidden>
        <b>Atendimento</b> : @Model.Input.Protocolo : @Model.Input.Data : @Model.Input.Status : @Model.Input.Id.ToString()
    </div>
    <div class="col-md-12 mb-4">
        <table class="table table-sm table-borderless bg-white">
            <!--<caption>Informações do Cliente</caption>-->
            <thead>
                <tr class="border-bottom shadow-sm">
                    <th>
                        CPF/CNPJ
                    </th>
                    <th>
                        Pessoa/Empresa
                    </th>
                    <th>
                        Contato
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Input.Pessoa != null)
                {
                    <tr class="border-bottom">
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.CPF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Email)

                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Tel_Movel)
                        </td>
                    </tr>
                }
                @if (Model.Input.Empresa != null)
                {
                    <tr class="border-bottom">
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.CNPJ)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Nome_Empresarial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Email)

                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Telefone)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="row col-md-12 g-2 mb-4">
            <div class="col-md-3">
                <div class="col-mb-12 mb-2">
                    <label class="form-label" asp-for="Input.Setor" for="floatingsetor"></label>
                    <div class="input-group mb-3">
                        <select asp-for="Input.Setor" class="form-select" id="floatingsetor" placeholder="Setor" asp-items="Model.Setores"></select>
                        <button asp-page-handler="SyncServices" class="btn btn-primary" type="submit" id="button-addon2"><i class="fas fa-sync-alt"></i></button>
                    </div>
                </div>
                <div class="col-mb-12">
                    <label class="form-label" asp-for="Input.Canal" for="floatingcanal"></label>
                    <select asp-for="Input.Canal" class="form-select" id="floatingcanal" placeholder="Setor" asp-items="Model.Canais"></select>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row col-md-12">
                    <label class="form-label" for="floatingservico">Serviços Disponível</label>
                    <div class="col-md-11">
                        <select asp-for="Input.Servicos" class="form-control" size="10" id="floatingservico" placeholder="Serviços Disponíveis" multiple asp-items="Model.Servicos"></select>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 g-2 mb-2">
                            <button type="submit" asp-page-handler="AddService" class="btn btn-sm btn-outline-info"><i class="fas fa-arrow-right"></i></button>
                        </div>
                        <div class="col-md-12 g-2 mb-2">
                            <button type="submit" asp-page-handler="RemoveService" class="btn btn-sm btn-outline-danger"><i class="fas fa-arrow-left"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label class="form-label">Serviços Realizado</label>
                    <select asp-for="Input.Servicos" class="form-control" size="10" asp-items="Model.ServicosSelecionado"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 g-2">
                    <label asp-for="Input.Descricao"></label>
                </div>
                <div class="col-md-10 g-2 mb-3">
                    <textarea asp-for="Input.Descricao" class="form-control" rows="2"></textarea>
                </div>
                <div class="col-md-2 g-2 mb-3">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <button type="submit" role="button" class="btn btn-primary shadow-sm">Finalizar Atendimento</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>