
@page
@model Sim.UI.Web.Pages.Atendimento.NovoModel
@{
    ViewData["Title"] = "Atendimento";
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.AtendimentoAtivo;
}

<!--<partial name="_StatusMessage" model="Model.StatusMessage" />-->

<form class="card card-content" method="post">
    <div class="col s12" hidden>
        <div class="input-group">
            <span class="input-group-text">Atendimento</span>
            <input type="text" asp-for="Input.Protocolo" class="form-control" readonly>
            <input type="text" asp-for="Input.Data" class="form-control" readonly>
            <input type="text" asp-for="Input.Status" class="form-control" readonly>
            <input type="text" asp-for="Input.Id" class="form-control" readonly>
        </div>
    </div>
    <div class="section">
        <table class="table responsive-table">
            <!--<caption>Informações do Cliente</caption>-->
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        CPF/CNPJ
                    </th>
                    <th>
                        Pessoa/Empresa
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Telefone
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Input.Pessoa != null)
                {
                    <tr>
                        <td>
                            <!--
                            <a href="#" id="clickbutton" class="btn" data-secao="Pessoa" data-acao="Details" data-id="@Model.Input.Pessoa.Id" data-bs-toggle="modal" data-bs-target="#viewmodal"><i class="fas fa-eye"></i></a>-->
                            <a class="btn btn-small waves-effect" asp-page="/Pessoa/Edit" asp-route-id="@Model.Input.Pessoa.Id"><i class="material-icons">edit</i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.CPF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Pessoa.Tel_Movel)
                        </td>

                    </tr>
                }
                @if (Model.Input.Empresa != null)
                {
                    <tr>
                        <td>
                            <!--<a href="#" class="btn viewbutton" data-secao="Empresa" data-acao="Perfil" data-id="@Model.Input.Empresa.Id" data-bs-toggle="modal" data-bs-target="#viewmodal"><i class="fas fa-eye"></i></a>-->
                            <a class="btn btn-small waves-effect" asp-page="/Empresa/Update" asp-route-id="@Model.Input.Empresa.Id"><i class="material-icons">edit</i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.CNPJ)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Nome_Empresarial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Input.Empresa.Telefone)
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="input-field col s12 m5 l5">
                    <select asp-for="Input.Setor" asp-items="Model.Setores">
                        <option selected>-- Selecione um Setor --</option>
                    </select>
                    <label asp-for="Input.Setor"></label>
                </div>
                <div class="input-field col s12 m1 l1 center">
                    <a href="#" class="btn waves-effect viewbutton" data-secao="Atendimento" data-acao="Detail" data-id="@Model.Input.Id" title="Carregar Serviços"><i class="material-icons">refresh</i></a>
                </div>
                <div class="input-field col s12 m6 l6">
                    <select asp-for="Input.Canal"></select>
                    <label asp-for="Input.Canal"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field col s12">
                    <select asp-for="Input.Servicos" multiple size="2"></select>
                    <label asp-for="Input.Servicos"></label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field col s12">
                    <textarea asp-for="Input.Descricao" class="materialize-textarea" id="input_descricao"></textarea>
                    <label asp-for="Input.Descricao" for="input_descricao"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-action">

        <button id="onbtn" type="submit" role="button" class="btn btn-large waves-effect waves-light">Finalizar Atendimento</button>
        <div class="input-field col s12 m6 l6" hidden>
            <input asp-for="ServicosSelecionados" />
            <label for="ServicosSelecionados">Serviços</label>
        </div>

    </div>

</form>

<!-- Modal -->
<div class="modal fade" id="viewmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="viewmodalLabel">Detalhes</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="viewmodalData"></p>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#Input_Setor").change(function () {
            var getSetor = $(this).val();
            //get canais de atendimento
            $("#Input_Canal").empty();
            $("#Input_Canal").append("<option value=''>-- Selecione um Canal --</option>");
            $.getJSON(`/Atendimento/Novo?handler=Canais&getSetor=${getSetor}`, (data) => {
                $.each(data, function (i, item) {
                    $("#Input_Canal").append(`<option value="${item.nome}">${item.nome}</option>`);
                });
            });
            //get servicos por setor
            $("#Input_Servicos").empty();
            $.getJSON(`/Atendimento/Novo?handler=Servicos&getSetor=${getSetor}`, (data) => {
                $.each(data, function (i, item) {
                    $("#Input_Servicos").append(`<option value="${item.nome}">${item.nome}</option>`)
                });
            });
        });

        $("#onbtn").click(function () {
            var selectedValues = [];
            $("#Input_Servicos :selected").each(function () {
                selectedValues.push($(this).val());
            });
            document.getElementById("ServicosSelecionados").value = selectedValues;
            //alert(selectedValues);
            return true;
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.validation.js"></script>
}

