@using Sim.UI.Web.Areas.SimBI.Pages.Empresas
@model Sim.UI.Web.Areas.SimBI.Pages.Empresas.IndexModel

<div class="navbar navbar-fixed">
    <nav class="navbar">
        <form class="nav-wrapper white" method="post">
            <span class="brand-logo grey-text" style="margin-left:10px; margin-right:10px;">BI Empresas</span>
            <ul class="right hide-on-med-and-down valign-wrapper">
                <li hidden>
                    <a class="grey-text" href="#">Empresas</a>
                </li>
                <li class="pdn-h-4">
                    <select asp-for="Input.Municipio" class="browser-default" asp-items="@Model.ListaMunicipios"></select>
                </li>
                <li class="pdn-h-4">
                    <select asp-for="Input.Situacao" class="browser-default">
                        <option selected>Ativa</option>
                        <option>Inapta</option>
                        <option>Suspensa</option>
                        <option>Nula</option>
                        <option>Baixada</option>
                    </select>
                </li>
                <li class="pdn-h-4">
                    <select asp-for="Input.Mes" class="browser-default">
                        <option value="99" selected>Geral</option>
                        <option value="00">Anual</option>
                        <option value="01">Janeiro</option>
                        <option value="02">Feveiro</option>
                        <option value="03">Março</option>
                        <option value="04">Abril</option>
                        <option value="05">Maio</option>
                        <option value="06">Junho</option>
                        <option value="07">Julho</option>
                        <option value="08">Agosto</option>
                        <option value="09">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                    </select>
                </li>
                <li class="pdn-h-4">
                    <input class="col" type="number" asp-for="Input.Ano" />
                </li>
                <li class="waves-effect waves-light blue lighten-1">
                    <a id="submit"><i class="material-icons">autorenew</i></a>
                </li>
                <li class="waves-effect waves-light blue lighten-1">
                    <a hidden class="modal-trigger" href="#viewmodal" data-mpo="@Model.Input.Municipio" data-stc="@Model.Input.Situacao" data-ano="@Model.Input.Ano" data-mes="@Model.Input.Mes"><i class="material-icons">autorenew</i></a>
                </li>
                <li class="pdn-h-4" hidden>
                    <button class="waves-effect waves-light btn orange" asp-area="SimBI" asp-page-handler="Preview" formtarget="_blank">JSON</button>
                </li>
            </ul>
        </form>
    </nav>
</div>

