@page
@model Sim.UI.Web.Areas.SimBI.Pages.Empresas.IndexModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Index";
    ViewData["BIEmpActivePage"] = "Empresas";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

@if (Model.Input.Modo == "Atividades")
{
    <partial name="_BiCnae" model="Model.ListCnaes" />
}
else
{
<div class="row">
    @foreach (var emp in Model.ListEmpresas)
    {
    <blockquote class="grey-text darken-2">
        Informações extraidas da base de dados da RFB em 18-11-2021
        <br />E não contabilizam os CNPJs com CNAE principal "9492800 - Serviços políticos"
    </blockquote>

        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card hoverable">
                    <table class="centered">
                        <thead>
                            <tr>
                                <th class="card-header grey-text darken-3" title="Mortalidade de Empresas abertas nos ultimos 24 meses"><span>Mortalidade de Empresas abertas nos ultimos 24 meses</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tx in emp.ListaMortalidadeEmpresas)
                            {
                                <tr>
                                    <td>
                                        <h5 class="blue-text darken-1">@tx.Value</h5>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card hoverable">
                    <table class="centered">
                        <thead>
                            <tr>
                                <th class="card-header grey-text darken-3">@emp.Formalizacoes.Key @Model.Input.Ano</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tx in emp.ListaMortalidadeEmpresas)
                            {
                                <tr>
                                    <td>
                                        <h5 class="green-text darken-1">@emp.Formalizacoes.Value</h5>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card hoverable">
                    <table class="centered">
                        <thead>
                            <tr>
                                <th class="card-header grey-text darken-3">@emp.Baixas.Key @Model.Input.Ano</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tx in emp.ListaMortalidadeEmpresas)
                            {
                                <tr>
                                    <td>
                                        <h5 class="materialize-red-text darken-1">@emp.Baixas.Value</h5>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card hoverable">
                    @if (Model.Input.Mes == "99")
                    {

                        <div class="card-header grey-text darken-3 center">
                            Demostrativo Geral
                        </div>
                        <table class="responsive-table centered">
                            <thead>
                                <tr>
                                    @foreach (var op in emp.ListaSituacao)
                                    {
                                        if (op.Key != "Baixada")
                                        {
                                            <th class="grey-text darken-3">@op.Key</th>
                                        }
                                    }
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    @{ var cst = 0;} 

                                    @foreach(var c in emp.ListaSituacao)
                                    {
                                        if (c.Key != "Baixada")
                                        {
                                            cst += c.Value;
                                        }
                                    }


                                    @foreach (var op in emp.ListaSituacao)
                                    {
                                        if (op.Key != "Baixada")
                                        {
                                            float v1 = op.Value;
                                            float v2 = cst;
                                            float r = (v1 / v2) * 100;
                                            <td class="blue-text darken-3">@op.Value <span class="purple-text">(@r.ToString("N2")%)</span></td>
                                        }

                                    }
                                </tr>
                            </tbody>
                        </table>

                    }
                    else if(Model.Input.Mes == "00")
                    {
                        <div class="card-header grey-text darken-3 center">
                            Empresas Formalizadas @Model.Input.Ano
                        </div>
                        <table class="responsive-table centered">
                            <thead>
                                <tr>
                                    @foreach (var op in emp.ListaMensal)
                                    {
                                        <th class="grey-text darken-3">@op.Key</th>
                                    }
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    @foreach (var op in emp.ListaMensal)
                                    {
                                        float v1 = op.Value;
                                        float v2 = emp.EmpresasAtivas.Value;
                                        float r = (v1 / v2) * 100;
                                        <td class="blue-text darken-3">@op.Value <span class="purple-text">(@r.ToString("N2")%)</span></td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card hoverable">
                    <div class="card-header grey-text darken-3 center">
                        Porte
                    </div>
                    <table class="responsive-table centered">
                        <thead>
                            <tr>
                                @foreach (var op in emp.Porte)
                                {
                                    <th class="grey-text darken-3">@op.Key</th>
                                }
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                @foreach (var op in emp.Porte)
                                {
                                    float v1 = op.Value;
                                    float v2 = emp.EmpresasAtivas.Value;
                                    float r = (v1 / v2) * 100;
                                    <td class="blue-text darken-3">@op.Value <span class="purple-text">(@r.ToString("N2")%)</span></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card hoverable">
                    <div class="card-header grey-text darken-3 center">
                        Regime Tributário
                    </div>
                    <table class="responsive-table centered">
                        <thead>
                            <tr>
                                <th class="grey-text darken-3" title="Lucro Real ou Presumido">Lucro RP</th>
                                <th class="grey-text darken-3">Simples Nacional</th>
                                <th class="grey-text darken-3">Optante MEI</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>

                                @{
                                    float et = emp.EmpresasAtivas.Value;
                                    float osn = emp.SimplesNacional.Value - emp.OptanteMEI.Value;
                                    float mei = emp.OptanteMEI.Value;
                                    float lrp = emp.EmpresasAtivas.Value - emp.SimplesNacional.Value;

                                    float vlrp = (lrp / et) * 100;
                                    float vsn = (osn / et) * 100;
                                    float vmei = (mei / et) * 100;
                                }
                                <td class="blue-text darken-3">@lrp <span class="purple-text">(@vlrp.ToString("N2")%)</span></td>
                                <td class="blue-text darken-3">@osn <span class="purple-text">(@vsn.ToString("N2")%)</span></td>
                                <td class="blue-text darken-3">@emp.OptanteMEI.Value <span class="purple-text">(@vmei.ToString("N2")%)</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card hoverable">
                    <div class="card-header grey-text center">Distribuição por Setor</div>
                    <table class="responsive-table centered">
                        <thead>
                            <tr>
                                @foreach (var st in emp.ListaSetores)
                                {
                                    <th class="grey-text">@st.Key</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var st in emp.ListaSetores)
                                {
                                    float v1 = st.Value;
                                    float v2 = emp.EmpresasAtivas.Value;
                                    float r = (v1 / v2) * 100;
                                    <td class="blue-text">@st.Value <span class="purple-text">(@r.ToString("N2")%)</span></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">

            @{ var count = 0; var sz = "m3 l3";}

            @foreach (var str in emp.ListaSetores)
            {
                if(count == 0 || count == 4)
                {
                    sz = "m3 l3";
                }
                else
                    sz = "m2 l2";

                count++;

                <div class="col s12 @sz">
                    <div class="card hoverable">
                        <ul class="collection">
                            @if (str.Key == "Serviços")
                            {
                                int c = 0;
                                <li class="collection-item grey-text truncate"><b>@str.Key (10+ Ocorrências)</b></li>
                                @foreach (var at in emp.Servicos)
                                {
                                    if (c < 5)
                                    {
                                        <li class="collection-item truncate" title="@at.Key"><span class="badge purple-text" data-badge-caption="@at.Value"></span>@at.Key</li>
                                    }
                                    else
                                        break;
                                    c++;
                                }
                            }
                            @if (str.Key == "Comércio")
                            {
                                int c = 0;
                                <li class="collection-item grey-text truncate"><b>@str.Key (10+ Ocorrências)</b></li>                                

                                @foreach (var at in emp.Comercio)
                                {
                                    if (c < 5)
                                    {
                                        <li class="collection-item truncate" title="@at.Key"><span class="badge purple-text" data-badge-caption="@at.Value"></span>@at.Key</li>
                                    }
                                    else
                                        break;
                                    c++;
                                }
                            }
                            @if (str.Key == "Indústria")
                            {
                                int c = 0;
                                <li class="collection-item grey-text truncate"><b>@str.Key (10+ Ocorrências)</b></li>
                                
                                @foreach (var at in emp.Indistria)
                                {
                                    if (c < 5)
                                    {
                                        <li class="collection-item truncate" title="@at.Key"><span class="badge purple-text" data-badge-caption="@at.Value"></span>@at.Key</li>
                                    }
                                    else
                                        break;
                                    c++;
                                }
                            }
                            @if (str.Key == "Construção")
                            {
                                int c = 0;
                                <li class="collection-item grey-text truncate"><b>@str.Key (10+ Ocorrências)</b></li>
                                
                                @foreach (var at in emp.Construcao)
                                {
                                    if (c < 5)
                                    {
                                        <li class="collection-item truncate" title="@at.Key"><span class="badge purple-text" data-badge-caption="@at.Value"></span>@at.Key</li>
                                    }
                                    else
                                        break;
                                    c++;
                                }
                            }
                            @if (str.Key == "Agropecuária")
                            {
                                int c = 0;
                                <li class="collection-item grey-text truncate"><b>@str.Key (10+ Ocorrências)</b></li>
                                
                                @foreach (var at in emp.Agro)
                                {
                                    if (c < 5)
                                    {
                                        <li class="collection-item truncate" title="@at.Key"><span class="badge purple-text" data-badge-caption="@at.Value"></span>@at.Key</li>
                                    }
                                    else
                                        break;
                                    c++;
                                }
                            }
                        </ul>
                    </div>
                </div>
            }

        </div>
        <div class="row">
            <div class="col s12">
                <div class="card hoverable">
                    <ul class="collection">
                        <li class="collection-item grey-text truncate"><b>Atividades Primárias (10+ Ocorrências no geral)</b></li>
                        @{int v = 0;}

                        @foreach (var op in emp.ListaAtividades)
                        {
                            if (v < 10)
                            {
                                <li class="collection-item truncate"><span class="badge purple-text" data-badge-caption="@op.Value"></span>@op.Key</li>
                            }
                            else
                            {
                                break;
                            }
                            v++;
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l12">
            <div id="piechart" class="col  white z-depth-1" hidden></div>
            <div id="chart2" class="col  white z-depth-1" hidden></div>
        </div>
    }
</div>
}



<!-- Modal Structure -->
<div id="viewmodal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <ul class="collection showcollection"></ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $(".modal-trigger").click(function () {
                var param1 = $(this).data('id');
                var param2 = $('#municip').val();
                var param3 = $('#situacaocad').val();
                $(".showcollection").empty();
                $.getJSON(`/SimBI/Empresas?c=${param1}&m=${param2}&a=${param3}&handler=Preview`, function (data) {
                    $.each(data, function (i, item) {

                        $(".showcollection").append(`<li class="collection-item"><a href="/Censo/Empresas/Detalhe?id=${item.value}" target="_blank"><span class="new badge" data-badge-caption="Perfil Completo"></span></a>${item.key}</li>`);

                    });
                });
            });
        });

        $(function () {
            $("#submit").click(function () {
                document.forms[0].submit();                
                return false;
            });
        });
    </script>
}