@page
@model Sim.UI.Web.Areas.SimBI.Pages.Empresas.IndexModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="row center">
        <button type="submit" class="btn-flat waves-effect waves-light">Jan</button>
        <button type="submit" class="btn-flat waves-effect waves-light">Fev</button>
        <button type="submit" class="btn-flat waves-effect waves-light">Mar</button>
        <button type="submit" class="btn-flat waves-effect waves-light">Abr</button>
        <button type="submit" class="btn-flat waves-effect waves-light">Mai</button>
        <button type="submit" class="btn-flat waves-effect waves-light">Jun</button>
        <button type="submit" class="btn-flat waves-effect waves-light">Jul</button>
        <button type="submit" class="btn-flat waves-effect waves-light">Ago</button>
        <button type="submit" class="btn-flat waves-effect waves-light">Set</button>
        <button type="submit" class="btn-flat waves-effect waves-light">Out</button>
        <button type="submit" class="btn-flat waves-effect waves-light">Nov</button>
        <button type="submit" class="btn-flat waves-effect waves-light">Dez</button>
    </div>
    <ul class="collapsible popout">
        @{
            var ativo = "active";
        }

        @foreach (var setor in Model.Input)
        {

            <li class="@ativo">

                @{ ativo = string.Empty; }

                <div class="collapsible-header waves-effect waves-green">@setor.FirstOrDefault().Key<span class="new badge blue" data-badge-caption="@setor.FirstOrDefault().Value">Empresas</span></div>
                <div class="collapsible-body white">
                    <div class="row">
                            <ul class="collection z-depth-0">
                                <li class="collection-item"><i class="material-icons left">handyman</i>Comércio</li>
                                @foreach (var op in setor)
                                {
                                    @if (op.Key.Contains("Servico-"))
                                    {
                                        <li class="collection-item"><span class="new badge green lighten-1" data-badge-caption="@op.Value"></span>@op.Key.Replace("Servico-", "")</li>
                                    }
                                }
                            </ul>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<!-- Modal Structure -->
<div id="viewmodal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <ul class="collection showcollection"></ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $(".modal-trigger").click(function () {
                var customerId = $(this).data('id');
                $(".showcollection").empty();
                $.getJSON(`/SimBI/Atendimentos?id=${customerId}&handler=Preview`, (data) => {
                    $.each(data, function (i, item) {
                        $(".showcollection").append(`<li class="collection-item"><span class="new badge green lighten-1" data-badge-caption="${item.value}"></span>${item.key}</li>`);
                    });
                });

            });
        });
    </script>
}