@page
@model Sim.UI.Web.Pages.SebraeAqui.RaeLancadosModel
@{
    ViewData["Title"] = "Index";
    ViewData["ActivePage"] = SebraeAquiNavPages.RaeLancados;
}


<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row mt-5 mb-5" hidden>
    <form method="post">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a asp-area="" asp-page="./Iniciar" class="btn btn-primary" title="Novo Atendimento"><i class="fas fa-plus-square"></i></a>
            <div class="col-md-auto">
                <div class="input-group">
                    <span class="input-group-text">Data</span>
                    <input asp-for="Input.DataAtendimento" class="form-control" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="submit" role="button" id="button-addon2"><i class="fas fa-sync"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="card">
    <table>
        <thead>
            <tr>
                <th>
                    N
                </th>
                <th>
                    Protocolo
                </th>
                <th>
                    Data
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Servicos
                </th>
                <th>
                    Canal
                </th>
                <th>
                    Lançado
                </th>
                <th>
                    Rae
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 0;
            }


            @foreach (var item in Model.Input.ListaAtendimento)
            {
                <tr>
                    <td>
                        @{cont++;}
                        @cont.ToString()
                    </td>
                    <td>
                        <a class="modal-trigger" href="#viewmodal" data-id="@item.Id">@Html.DisplayFor(modelItem => item.Protocolo)</a>
                    </td>
                    <td>
                        @{
                            var d1 = Convert.ToDateTime(item.Data);
                            var datainicial = d1.ToShortDateString();
                        }

                        @Html.DisplayFor(modelItem => datainicial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pessoa.Nome)
                        @if (item.Empresa != null)
                        {
                            @Html.DisplayFor(modelItem => item.Empresa.CNPJ)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Servicos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Canal)
                    </td>
                    <td>
                        @{
                            var dua = Convert.ToDateTime(item.Ultima_Alteracao);
                            var ultima_alteracao = dua.ToShortDateString();
                        }

                        @Html.DisplayFor(modelItem => ultima_alteracao)
                    </td>
                    <td class="blue-text">
                        <a asp-page="./Adicionar.Rae" asp-route-id="@item.Id">RAE - @Html.DisplayFor(modelItem => item.Sebrae.RAE)</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal Structure -->
<div id="viewmodal" class="modal modal-fixed-footer">
    <div class="modal-content"></div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $(".modal-trigger").click(function () {
                var customerId = $(this).data('id');
                $(".modal-content").empty();
                $.getJSON(`/Atendimento?id=${customerId}&handler=Preview`, (data) => {
                    $.each(data, function (i, item) {
                        $(".modal-content").append(`<div>Protocolo: ${item.protocolo}</div>`);
                        $(".modal-content").append(`<div>Data: ${item.data}</div>`);
                        $(".modal-content").append(`<div>Setor: ${item.setor}</div>`);
                        $(".modal-content").append(`<div>Canal: ${item.canal}</div>`);
                        $(".modal-content").append(`<div>Serviços: ${item.servicos}</div>`);
                        $(".modal-content").append(`<div>Descricao: ${item.descricao}</div>`);
                        $(".modal-content").append(`<div class="divider"></div>`);
                        $(".modal-content").append(`<div>Nome: ${item.pessoa.nome}</div>`);
                        $(".modal-content").append(`<div>CPF: ${item.pessoa.cpf}</div>`);
                        $(".modal-content").append(`<div>Data Nascimento: ${item.pessoa.data_Nascimento}</div>`);
                        $(".modal-content").append(`<div>CEP: ${item.pessoa.cep}</div>`);
                        $(".modal-content").append(`<div>${item.pessoa.logradouro} ${item.pessoa.numero}</div>`);
                        $(".modal-content").append(`<div>${item.pessoa.bairro}, ${item.pessoa.cidade} - ${item.pessoa.uf}</div>`);
                        $(".modal-content").append(`<div>Telefone: ${item.pessoa.tel_Movel}, E-mail: ${item.pessoa.email}</div>`);
                        $(".modal-content").append(`<div class="divider"></div>`);
                        $(".modal-content").append(`<div>${item.empresa.cnpj} ${item.empresa.situacao_Cadastral}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.nome_Empresarial}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.nome_Fantasia}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.data_Abertura}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.cnaE_Principal} ${item.empresa.atividade_Principal}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.atividade_Secundarias}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.cep} ${item.empresa.logradouro} ${item.empresa.numero}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.bairro} ${item.empresa.municipio} ${item.empresa.uf}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.telefone} ${item.empresa.email}</div>`);
                    });
                });

            });
        });
    </script>
}