@using Sim.Domain.Shared.Entity;
@model IEnumerable<InputModelEvento>


<div class="row">

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image blue-grey darken-1">
                        <div style="height:100px;"></div>                       
                        <span class="card-title truncate"><a asp-page="./Edit" asp-route-id="@item.Id" class="orange-text">@item.Nome</a></span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red" asp-page="./Inscricao.Evento" asp-route-id="@item.Codigo" title="Inscrever"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content truncate">
                        Formato: @item.Formato
                        <br />Data: @item.Data
                        <br />Setor: @item.Owner
                        <br />Vagas: @item.Vagas
                    </div>
                    <div class="card-action">
                        <a asp-page="./Inscricao.Remove" asp-route-id="@item.Codigo">Gerenciar<span class="new badge" data-badge-caption="inscritos">@item.NumeroInscritos</span></a>                        
                    </div>
                </div>
            </div>
        }
    }
</div>



