@page
@using System.Text;
@model Sim.UI.Web.Pages.Agenda.Inscritos_ListModel
@{
    Layout = "/Pages/Shared/__LayoutModal.cshtml";
    ViewData["Title"] = "Lista Inscritos";
}

<div class="row" style="font-family:Arial; font-size:12px;">
    <div class="col s12">
        Código: @Model.Input.Codigo
        <br /><b>@Model.Input.Tipo @Model.Input.Nome</b>
        <br />@Model.Input.Formato para até @Model.Input.Lotacao pessoas.
        <br />Data: @Model.Input.Data
        <br />Descrição: @Model.Input.Descricao
    </div>
</div>

<div style="font-family:Arial; font-size:10px;">
    <table class="responsive-table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    CPF
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Empresa
                </th>
                <th>
                    Contato
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 0;
            }


            @foreach (var item in Model.Input.Inscritos)
            {
                <tr>
                    <td>
                        @{cont++;}
                        @cont.ToString()
                    </td>
                    <td>
                        @{
                            var _cpf = item.Participante.CPF;
                            var _cpfmsk = _cpf.Remove(4, 7);
                            _cpfmsk = _cpfmsk.Insert(4, "XXX.XXX");

                            string[] nomes = item.Participante.Nome.Split(new char[] { ' ' });

                            StringBuilder _nome = new StringBuilder();

                            var i = 0;

                            foreach (string s in nomes)
                            {

                                if (i % 2 == 0)
                                {
                                    _nome.Append(nomes[i].ToUpper());
                                    i++;
                                }
                                else
                                {
                                    _nome.Append(" XXXX ");
                                    i++;
                                }
                            }

                            var _nomemsk = _nome.ToString();
                        }

                        @Html.DisplayFor(modelItem => _cpfmsk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => _nomemsk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.CNPJ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Participante.Tel_Movel)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!---->
<div class="row">
    <p class="center">
        <button class="btn waves-effect waves-light" onclick="window.print()">Imprimir</button>
    </p>
</div>

