@page
@model Sim.UI.Web.Pages.Agenda.Inscricao_RemoveModel
@{
    ViewData["Title"] = "Inscrição";
}

<div class="row">
    <div class="col s12">
        Código: @Model.Input.Codigo
        <br /><span class="red-text">@Model.Input.Tipo @Model.Input.Nome - @Model.Input.Formato</span>
        <br />Data: @Model.Input.Data
        <br />@Model.Input.Descricao
    </div>
</div>

<div class="card">
    <form method="post">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Presença
                    </th>
                    <th>
                        CPF
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Empresa
                    </th>
                    <th>
                        Contato
                    </th>

                    <th>
                        Ação
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int cont = 0;
                }


                @foreach (var item in Model.Input.Inscritos)
                {
                <tr>
                    <td>
                        @{cont++;}
                        @cont.ToString()
                    </td>
                    <td>
                        @if (item.Presente)
                        {
                            <button asp-page-handler="Presente" asp-route-id="@item.Id" asp-route-ide="@Model.Input.Codigo" type="submit" class="btn-flat"><i class="material-icons large">done</i></button>
                        }
                        else
                        {
                            <button asp-page-handler="Presente" asp-route-id="@item.Id" asp-route-ide="@Model.Input.Codigo" type="submit" class="btn-flat"><i class="material-icons large">check_box_outline_blank</i></button>
                        }
                    </td>
                    <td>
                        <a class="modal-trigger" href="#viewmodal" data-id="@item.Id">@Html.DisplayFor(modelItem => item.Participante.CPF)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Participante.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.Nome_Empresarial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Participante.Tel_Movel)
                    </td>

                    <td>
                        <button asp-page-handler="Remove" asp-route-id="@item.Id" asp-route-ide="@Model.Input.Codigo" type="submit" class="btn btn-small">Remover</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </form>
    <div class="card-action">
        <a asp-page="./Index" class="btn waves-effect waves-light">Voltar</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="viewmodal" class="modal modal-fixed-footer">
    <div class="modal-content"></div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $(".modal-trigger").click(function () {
                var customerId = $(this).data('id');
                $(".modal-content").empty();
                $.getJSON(`/Agenda/Inscricao.Remove?id=${customerId}&handler=DetalheInscrito`, (data) => {
                    $.each(data, function (i, item) {
                        $(".modal-content").append(`<div>Código: ${item.evento.codigo}</div>`);
                        $(".modal-content").append(`<div>Evento: ${item.evento.tipo} ${item.evento.nome}</div>`);
                        $(".modal-content").append(`<div>Formato: ${item.evento.formato}</div>`);
                        $(".modal-content").append(`<div>Data: ${item.evento.data}</div>`);
                        $(".modal-content").append(`<div>Capacidade: ${item.evento.lotacao}</div>`);
                        $(".modal-content").append(`<div>Inscrição: ${item.numero}</div>`);
                        $(".modal-content").append(`<div>Data Inscricao: ${item.data_Inscricao}</div>`);
                        $(".modal-content").append(`<div>Usuário do Sistema: ${item.aplicationUser_Id}</div>`);
                        $(".modal-content").append(`<div class="divider"></div>`);
                        $(".modal-content").append(`<div>Nome: ${item.participante.nome}</div>`);
                        $(".modal-content").append(`<div>CPF: ${item.participante.cpf}</div>`);
                        $(".modal-content").append(`<div>Data Nascimento: ${item.participante.data_Nascimento}</div>`);
                        $(".modal-content").append(`<div>CEP: ${item.participante.cep}</div>`);
                        $(".modal-content").append(`<div>${item.participante.logradouro} ${item.participante.numero}</div>`);
                        $(".modal-content").append(`<div>${item.participante.bairro}, ${item.participante.cidade} - ${item.participante.uf}</div>`);
                        $(".modal-content").append(`<div>Telefone: ${item.participante.tel_Movel}, E-mail: ${item.participante.email}</div>`);
                        $(".modal-content").append(`<div class="divider"></div>`);
                        $(".modal-content").append(`<div>${item.empresa.cnpj} ${item.empresa.situacao_Cadastral}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.nome_Empresarial}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.nome_Fantasia}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.data_Abertura}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.cnaE_Principal} ${item.empresa.atividade_Principal}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.atividade_Secundarias}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.cep} ${item.empresa.logradouro} ${item.empresa.numero}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.bairro} ${item.empresa.municipio} ${item.empresa.uf}</div>`);
                        $(".modal-content").append(`<div>${item.empresa.telefone} ${item.empresa.email}</div>`);
                    });
                });

            });
        });
    </script>
}