@page
@model Sim.UI.Web.Pages.Agenda.Inscritos_ListModel
@{
    Layout = "/Pages/Shared/__LayoutModal.cshtml";
    ViewData["Title"] = "Lista Inscritos";
}

<div class="row">
    <div class="col s12">
        Código: @Model.Input.Codigo
        <br /><b>@Model.Input.Tipo @Model.Input.Nome</b>
        <br />@Model.Input.Formato para até @Model.Input.Lotacao pessoas.
        <br />Data: @Model.Input.Data
        <br />Descrição: @Model.Input.Descricao
    </div>
</div>

<div>
    <table class="responsive-table">
        <thead>
            <tr>
                <th>
                    N
                </th>
                <th>
                    CPF
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Empresa
                </th>
                <th>
                    Contato
                </th>
                <th >
                    Data
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 0;
            }


            @foreach (var item in Model.Input.Inscritos)
            {
            <tr>
                <td>
                    @{cont++;}
                    @cont.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Participante.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Participante.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Participante.Tel_Movel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Inscricao)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>