@page
@model Sim.UI.Web.Pages.Pessoa.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h5>Apagar Registro</h5>

<div>
    <h6>Pessoas</h6>
    
    <dl class="row">
        <dt class="col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.Input.Id)
        </dt>
        <dd class="col-sm-10" hidden>
            @Html.DisplayFor(model => model.Input.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Nome_Social)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Nome_Social)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Data_Nascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Data_Nascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.RG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.RG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.RG_Emissor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.RG_Emissor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.RG_Emissor_UF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.RG_Emissor_UF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Deficiencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Deficiencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.CEP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.CEP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Logradouro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Complemento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.UF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.UF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Tel_Movel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Tel_Movel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Tel_Fixo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Tel_Fixo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Data_Cadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Data_Cadastro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Ultima_Alteracao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Ultima_Alteracao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Ativo)
        </dt>
        <dd class="col-sm-10">
            <div class="custom-control custom-switch">
                <input asp-for="Input.Ativo" type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Ativo</label>
            </div>
        </dd>
    </dl>
</div>
<div>
    <form method="post">
        <input type="hidden" asp-for="Input.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
