@page
@model Sim.UI.Web.Pages.Pessoa.IndexModel

@{
    ViewData["Title"] = "Index";
}


<h5>Pessoas</h5>


<partial name="_StatusMessage" model="Model.StatusMessage" />

<hr />
<pre>Informar Nome ou CPF!</pre>

<div class="form-row mb-3">
    <form asp-action="Index">
        <div class="row">
            <div class="col-md-auto">
                <div class="input-group mb-3">
                    <input asp-for="Input.Nome" class="form-control" placeholder="Nome" aria-describedby="button-addon2">
                    <input asp-for="Input.CPF" class="form-control" placeholder="CPF" aria-describedby="button-addon2" id="inputCPF">
                    <button class="btn btn-outline-primary" type="submit" role="button" id="button-addon2"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md"></div>
            <div class="col-md-auto">
                <a asp-area="" asp-page="/Pessoa/Novo" class="btn btn-outline-success" title="Adicionar Nova Pessoa"> + <i class="fa fa-user"></i></a>
            </div>
        </div>
    </form>
</div>

<table class="table table-borderless bg-white">
    <caption>Lista de pessoas</caption>
    <thead>
        <tr class="border-bottom shadow-sm col-md">
            <th></th>
            <th>
                Nome
            </th>

            <th>
                CPF
            </th>

            <th>
                E-mail
            </th>

            <th>
                Telefone
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Input.ListaPessoas == null)
        { }
        else
        {
            foreach (var item in Model.Input.ListaPessoas)
            {
                <tr class="border-bottom">
                    <td>
                        <a href="" class="btn btn-sm btn-outline-info" title="Iniciar atendimento"><i class="far fa-clock"></i></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Tel_Movel)
                    </td>

                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary" title="Detalhar informações"><i class="far fa-list-alt"></i></a>

                        <a asp-page="./Edit" asp-route-id="@item.Id"  class="btn btn-sm btn-outline-secondary" title="Alterar informações"><i class="far fa-edit"></i></a>

                        <a asp-page="./Delete" asp-route-id="@item.Id"  class="btn btn-sm btn-outline-danger" title="Excluir informações"><i class="far fa-window-close"></i></a>
                    </td>
                    <!--
                Html.ActionLink("Edit", "Edit", new { id = item.Pessoa_Id }) |
                Html.ActionLink("Details", "Details", new { id = item.Pessoa_Id }) |
                Html.ActionLink("Delete", "Delete", new { id = item.Pessoa_Id })-->
                </tr>
            }
        }

    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.cep.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCPF').mask('000.000.000-00', { placeholder: "___.___.___-__" });
    </script>
}