@page
@model Sim.UI.Web.Pages.Pessoa.IndexModel

@{
    ViewData["Title"] = "Index";
}


<h5>Pessoas</h5>

<!--
<p>
    <a asp-action="Novo">Adicionar Pessoa</a>
</p>-->
<partial name="_StatusMessage" model="Model.StatusMessage" />

@if (ViewBag.IsMessage == true)
{
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
        @ViewBag.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<hr />
<pre>Buscar por CPF ou Nome</pre>

<div class="form-row mb-3">
    <div class="form-group col-md-6">
        <form asp-action="Index">
            <div class="form-row">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input asp-for="Input.CPF" class="form-control" placeholder="CPF" aria-describedby="button-addon2" id="inputCPF">
                        <input asp-for="Input.Nome" class="form-control" placeholder="Nome" aria-describedby="button-addon2">

                        @if (Model.Input.ListaPessoas.Count() == 0)
                        {
                            <a asp-area="" asp-page="/Pessoa/Novo" class="btn btn-success" title="Adicionar Nova Pessoa"> + <i class="fa fa-user"></i></a>
                        }
                        else
                        {
                            <button class="btn btn-primary" type="submit" role="button" id="button-addon2"><i class="fa fa-search"></i></button>
                        }

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="form-group col-md-6">
    </div>
</div>


<table class="table table-borderless bg-white">
    <caption>Lista de pessoas</caption>
    <thead>
        <tr class="border-bottom shadow-sm">
            <th></th>
            <th>
                Nome
            </th>

            <th>
                CPF
            </th>

            <th>
                E-mail
            </th>

            <th>
                Telefone
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Input.ListaPessoas)
        {
            <tr class="border-bottom">
                <td>
                    <a href="" class="btn btn-sm btn-secondary" title="Iniciar atendimento"><i class="far fa-clock"></i></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Tel_Movel)
                </td>

                <td>
                    <a href="@Url.Action("Details", "Pessoa", new { id = item.Id })" class="btn btn-sm btn-secondary" title="Detalhar informações"><i class="far fa-list-alt"></i></a>

                    <a href="@Url.Action("Edit", "Pessoa", new { id = item.Id })" class="btn btn-sm btn-secondary" title="Alterar informações"><i class="far fa-edit"></i></a>

                    <a href="@Url.Action("Delete", "Pessoa", new { id = item.Id })" class="btn btn-sm btn-secondary" title="Excluir informações"><i class="far fa-window-close"></i></a>
                </td>
                <!--
                Html.ActionLink("Edit", "Edit", new { id = item.Pessoa_Id }) |
                Html.ActionLink("Details", "Details", new { id = item.Pessoa_Id }) |
                Html.ActionLink("Delete", "Delete", new { id = item.Pessoa_Id })-->
            </tr>
        }

    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.cep.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCPF').mask('000.000.000-00', { placeholder: "___.___.___-__" });
    </script>
}