@page
@model Sim.UI.Web.Areas.SimBI.Pages.Atendimentos.IndexModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <form method="post" class="row center">

    <div class="input-field col s12 l6 m12 valign-wrapper">
        <select asp-for="Mes">
            <option value="0">ano</option>
            <option value="1">jan</option>
            <option value="2">fev</option>
            <option value="3">mar</option>
            <option value="4">abr</option>
            <option value="5">mai</option>
            <option value="6">jun</option>
            <option value="7">jul</option>
            <option value="8">ago</option>
            <option value="9">set</option>
            <option value="10">out</option>
            <option value="11">nov</option>
            <option value="12">dev</option>
        </select>
        <input asp-for="Ano" />
        <button class="btn waves-effect waves-light" asp-page-handler="Month"><i class="material-icons">refresh</i></button> 
    </div>

    </form>

    <ul class="collapsible popout">
        @{
            var ativo = "active";
        }

        @foreach (var setor in Model.Input)
        {

            <li class="@ativo">

                @{ ativo = string.Empty; }

                <div class="collapsible-header waves-effect waves-green">@setor.FirstOrDefault().Key<span class="new badge blue" data-badge-caption="@setor.FirstOrDefault().Value">Atendimentos</span></div>
                <div class="collapsible-body white">
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <ul class="collection z-depth-1">
                                <li class="collection-item"><i class="material-icons left">handyman</i>Serviços Executados</li>
                                @foreach (var op in setor)
                                {
                                    @if (op.Key.Contains("Servico-"))
                                    {
                                        <li class="collection-item"><span class="new badge green lighten-1" data-badge-caption="@op.Value"></span><a class="modal-trigger blue-grey-text" href="#viewmodal" data-hdlr="ServicoPreview" data-id="@op.Key.Replace("Servico-", "")" data-mth="@Model.Mes" data-y="@Model.Ano" title="Detalhar serviço">@op.Key.Replace("Servico-", "")</a></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="col s12 m4 l4">
                            <ul class="collection z-depth-1">
                                <li class="collection-item"><i class="material-icons left">desktop_windows</i>Canais de Atendimento</li>
                                @foreach (var op in setor)
                                {
                                    @if (op.Key.Contains("Canal-"))
                                    {
                                        <li class="collection-item"><span class="new badge blue lighten-1" data-badge-caption="@op.Value"></span><a class="modal-trigger blue-grey-text" href="#viewmodalcanal" data-hdlr="CanalPreview" data-id="@op.Key.Replace("Canal-", "")" data-id2="@setor.FirstOrDefault().Key" data-mth="@Model.Mes" data-y="@Model.Ano" title="Detalhar canal de atendimento">@op.Key.Replace("Canal-", "")</a></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="col s12 m4 l4">
                            <ul class="collection z-depth-1">
                                <li class="collection-item"><i class="material-icons left">account_box</i>Antendentes</li>
                                @foreach (var op in setor)
                                {
                                    @if (op.Key.Contains("User-"))
                                    {
                                        <li class="collection-item"><span class="new badge blue lighten-1" data-badge-caption="@op.Value"></span><a class="modal-trigger blue-grey-text" href="#viewmodaluser" data-hdlr="Preview" data-id="@op.Key.Replace("User-", "")" data-id2="@setor.FirstOrDefault().Key" data-mth="@Model.Mes" data-y="@Model.Ano" title="Detalhar atendimentos">@op.Key.Replace("User-", "")</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>

    <div class="row">
                
        @if(Model.Atendimentos_List != null)
        {
            <div class="col s12 m4 l4">
                <div class="card hoverable">
                    <div class="card-header grey-text darken-3 center">Atendimentos [@Model.Ano]</div>
                    <div class="card-action center-align">
                    <div class="row">
                         <div class="col s6 m6 l6">    
                         <h6>Clientes</h6>
                         <a href="#" class="btn blue waves-effect waves-light btn-large">
                         @Model.Atendimentos_List.Antendimentos_Ano.Value
                         </a>                         
                         </div>
                         <div class="col s6 m6 l6">
                         <h6>Serviços</h6>
                         <a href="#" class="btn blue darken-4 waves-effect waves-light btn-large">
                         @Model.Atendimentos_List.Servicos_Ano.Value
                         </a>                         
                         </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card hoverable">
                    <div class="card-header grey-text darken-3 center">Pessoas [@Model.Ano]</div>
                    <div class="card-action center-align">
                    <div class="row">
                         <div class="col s6 m6 l6">    
                         <h6>Atendidas</h6>
                         <a href="#" class="btn orange waves-effect waves-light btn-large">
                         @Model.Atendimentos_List.Pessoas_Ano.Value
                         </a>                         
                         </div>
                         <div class="col s6 m6 l6">
                         <h6>Serviços</h6>
                         <a href="#" class="btn deep-orange waves-effect waves-light btn-large">
                         @Model.Atendimentos_List.Pessoas_Servicos_Ano.Value
                         </a>                         
                         </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card hoverable">
                    <div class="card-header grey-text darken-3 center">Empresas [@Model.Ano]</div>
                    <div class="card-action center-align">
                    <div class="row">
                         <div class="col s6 m6 l6">    
                         <h6>Atendidas</h6>
                         <a href="#" class="btn purple waves-effect waves-light btn-large">
                         @Model.Atendimentos_List.Empresas_Ano.Value
                         </a>                         
                         </div>
                         <div class="col s6 m6 l6">
                         <h6>Serviços</h6>
                         <a href="#" class="btn deep-purple waves-effect waves-light btn-large">
                         @Model.Atendimentos_List.Empresas_Servicos_Ano.Value
                         </a>                         
                         </div>
                    </div>
                    </div>
                </div>
            </div>
        }        
    </div>
</div>

<!-- Modal Structure -->
<div id="viewmodal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <ul class="collection showcollection"></ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

<!-- Modal Structure Canal-->
<div id="viewmodalcanal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <ul class="collection showcollectionCanal"></ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

<!-- Modal Structure User-->
<div id="viewmodaluser" class="modal modal-fixed-footer">
    <div class="modal-content">
        <ul class="collection showcollectionUser"></ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $(".modal-trigger").click(function () {
                var param1 = $(this).data('id');
                var param2 = $(this).data('mth');
                var param3 = $(this).data('hdlr');
                var param4 = $(this).data('y');
                $(".showcollection").empty();
                $.getJSON(`/SimBI/Atendimentos?id=${param1}&mth=${param2}&y=${param4}&handler=${param3}`, (data) => {
                    var cor = "darken-1";
                    $.each(data, function (i, item) {
                        $(".showcollection").append(`<li class="collection-item"><span class="new badge green ${cor}" data-badge-caption="${item.value}"></span>${item.key}</li>`);
                        cor = "lighten-1";
                    });
                });
            });
            $(".modal-trigger").click(function () {
                var param1 = $(this).data('id');
                var param2 = $(this).data('id2');
                var param3 = $(this).data('mth');
                var param4 = $(this).data('hdlr');
                var param5 = $(this).data('y');
                $(".showcollectionCanal").empty();
                $.getJSON(`/SimBI/Atendimentos?id=${param1}&id2=${param2}&mth=${param3}&y=${param5}&handler=${param4}`, (data) => {
                    var cor = "blue";
                    $.each(data, function (i, item) {                        
                        $(".showcollectionCanal").append(`<li class="collection-item"><span class="new badge ${cor} lighten-1" data-badge-caption="${item.value}"></span>${item.key}</li>`);
                        cor = "green";
                    });
                });
            });
            $(".modal-trigger").click(function () {
                var param1 = $(this).data('id');
                var param2 = $(this).data('id2');
                var param3 = $(this).data('mth');
                var param4 = $(this).data('hdlr');
                var param5 = $(this).data('y');
                $(".showcollectionUser").empty();
                $.getJSON(`/SimBI/Atendimentos?id=${param1}&id2=${param2}&mth=${param3}&y=${param5}&handler=${param4}`, (data) => {
                    var cor = "blue";
                    $.each(data, function (i, item) {
                        $(".showcollectionUser").append(`<li class="collection-item"><span class="new badge ${cor} lighten-1" data-badge-caption="${item.value}"></span>${item.key}</li>`);
                        cor = "green";
                    });
                });
            });
        });
    </script>
}
