@page
@model Sim.UI.Web.Areas.SimBI.Pages.Atendimentos.IndexModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <form method="post" class="row center">

    <div class="input-field col s12 l6 m12 valign-wrapper">
        <select asp-for="Mes">
            <option value="0">ano</option>
            <option value="1">jan</option>
            <option value="2">fev</option>
            <option value="3">mar</option>
            <option value="4">abr</option>
            <option value="5">mai</option>
            <option value="6">jun</option>
            <option value="7">jul</option>
            <option value="8">ago</option>
            <option value="9">set</option>
            <option value="10">out</option>
            <option value="11">nov</option>
            <option value="12">dev</option>
        </select>
        <input asp-for="Ano" />
        <button class="btn waves-effect waves-light" asp-page-handler="Month"><i class="material-icons">refresh</i></button> 
    </div>

    </form>

    <div class="row">
                
        @if(Model.Atendimentos_List != null)
        {
            <div class="col s12 m4 l4">
                <div class="card hoverable">
                    <div class="card-header grey-text darken-3 center">Clientes [@Model.Ano]</div>
                    <div class="card-content">
                    <div class="row center-align">
                         <div class="col s6 m6 l6">    
                         <h6 class="grey-text">Atendimentos</h6>
                         <h5 >
                         <a href="#" class="blue-text">
                         @Model.Atendimentos_List.Cliente.Atendimentos
                         </a></h5>                         
                         </div>
                         <div class="col s6 m6 l6">
                         <h6 class="grey-text">Serviços</h6>
                         <h5 >
                         <a href="#" class="blue-text text-darken-4">
                         @Model.Atendimentos_List.Cliente.Servicos
                         </a></h5>                         
                         </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card hoverable">
                    <div class="card-header grey-text darken-3 center">Pessoas [@Model.Ano]</div>
                    <div class="card-content">
                    <div class="row center-align">
                         <div class="col s6 m6 l6">    
                         <h6 class="grey-text">Atendidas</h6>
                         <h5>
                         <a href="#" class="orange-text">
                         @Model.Atendimentos_List.ClientePF.Atendimentos
                         </a></h5>                         
                         </div>
                         <div class="col s6 m6 l6">
                         <h6 class="grey-text">Serviços</h6>
                         <h5>
                         <a href="#" class="deep-orange-text">
                         @Model.Atendimentos_List.ClientePF.Servicos
                         </a></h5>                         
                         </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card hoverable">
                    <div class="card-header grey-text darken-3 center">Empresas [@Model.Ano]</div>
                    <div class="card-content">
                    <div class="row center-align">
                         <div class="col s6 m6 l6">    
                         <h6 class="grey-text">Atendidas</h6>
                         <h5>
                         <a href="#" class="purple-text">
                         @Model.Atendimentos_List.ClientePJ.Atendimentos
                         </a></h5>                         
                         </div>
                         <div class="col s6 m6 l6">
                         <h6 class="grey-text">Serviços</h6>
                         <h5>
                         <a href="#" class="deep-purple-text">
                         @Model.Atendimentos_List.ClientePJ.Servicos
                         </a></h5>                         
                         </div>
                    </div>
                    </div>
                </div>
            </div>
        }      

            <div class="col s12 m12 l12">
                <div class="card hoverable">
                    <div class="card-header grey-text darken-4 center">Sebrae</div>
                    <div class="card-content">

                    @if(Model.Atendimentos_List.ListaMensal != null)
                    {
                    <table class="centered responsive-table">
                        <thead>
                            <tr>
                                @foreach(var m in Model.Atendimentos_List.ListaMensal)
                                    {
                                      <th class="grey-text darken-3"><span>@m.Mes</span></th>  
                                    }                                   

                            </tr>                           
                        </thead>
                        <tbody>
                            <tr>
                                @foreach(var m in Model.Atendimentos_List.ListaMensal)
                                    {
                                      <td class="grey-text darken-3"><span class="blue-text">@m.Atendimentos</span> | <span class="green-text darken-3">@m.Servicos</span></td>
                                    }   
                            </tr>
                        </tbody>
                    </table>
                    }
                    </div>
                </div>
            </div>
        
    </div>    
</div>

<!-- Modal Structure -->
<div id="viewmodal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <ul class="collection showcollection"></ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

<!-- Modal Structure Canal-->
<div id="viewmodalcanal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <ul class="collection showcollectionCanal"></ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

<!-- Modal Structure User-->
<div id="viewmodaluser" class="modal modal-fixed-footer">
    <div class="modal-content">
        <ul class="collection showcollectionUser"></ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $(".modal-trigger").click(function () {
                var param1 = $(this).data('id');
                var param2 = $(this).data('mth');
                var param3 = $(this).data('hdlr');
                var param4 = $(this).data('y');
                $(".showcollection").empty();
                $.getJSON(`/SimBI/Atendimentos?id=${param1}&mth=${param2}&y=${param4}&handler=${param3}`, (data) => {
                    var cor = "darken-1";
                    $.each(data, function (i, item) {
                        $(".showcollection").append(`<li class="collection-item"><span class="new badge green ${cor}" data-badge-caption="${item.value}"></span>${item.key}</li>`);
                        cor = "lighten-1";
                    });
                });
            });
            $(".modal-trigger").click(function () {
                var param1 = $(this).data('id');
                var param2 = $(this).data('id2');
                var param3 = $(this).data('mth');
                var param4 = $(this).data('hdlr');
                var param5 = $(this).data('y');
                $(".showcollectionCanal").empty();
                $.getJSON(`/SimBI/Atendimentos?id=${param1}&id2=${param2}&mth=${param3}&y=${param5}&handler=${param4}`, (data) => {
                    var cor = "blue";
                    $.each(data, function (i, item) {                        
                        $(".showcollectionCanal").append(`<li class="collection-item"><span class="new badge ${cor} lighten-1" data-badge-caption="${item.value}"></span>${item.key}</li>`);
                        cor = "green";
                    });
                });
            });
            $(".modal-trigger").click(function () {
                var param1 = $(this).data('id');
                var param2 = $(this).data('id2');
                var param3 = $(this).data('mth');
                var param4 = $(this).data('hdlr');
                var param5 = $(this).data('y');
                $(".showcollectionUser").empty();
                $.getJSON(`/SimBI/Atendimentos?id=${param1}&id2=${param2}&mth=${param3}&y=${param5}&handler=${param4}`, (data) => {
                    var cor = "blue";
                    $.each(data, function (i, item) {
                        $(".showcollectionUser").append(`<li class="collection-item"><span class="new badge ${cor} lighten-1" data-badge-caption="${item.value}"></span>${item.key}</li>`);
                        cor = "green";
                    });
                });
            });
        });
    </script>
}
