@using Sim.UI.Web.Areas.Settings.Pages.Common

<div class="input-group input-group justify-content-center">
    <a class="btn btn-outline-info @SettingsNavPages.SecretariaNavClass(ViewContext)" id="secretaria" asp-page="./Index">Secretaria</a>
    <a class="btn btn-outline-info @SettingsNavPages.SetoresNavClass(ViewContext)" id="setor" asp-page="./Setores">Setores</a>
    <a class="btn btn-outline-info @SettingsNavPages.ServicosNavClass(ViewContext)" id="servico" asp-page="./Servicos">Serviços</a>
    <a class="btn btn-outline-info @SettingsNavPages.EventosNavClass(ViewContext)" id="evento" asp-page="./Eventos">Eventos</a>
    <a class="btn btn-outline-info @SettingsNavPages.CanalNavClass(ViewContext)" id="canal" asp-page="./Canal">Canal Atendimento</a>
</div>
