@using Sim.UI.Web.Areas.Settings.Pages.Common

<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link @SettingsNavPages.SecretariaNavClass(ViewContext)" id="secretaria" asp-page="./Index">Secretaria</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @SettingsNavPages.SetoresNavClass(ViewContext)" id="setor" asp-page="./Setores">Setores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @SettingsNavPages.ServicosNavClass(ViewContext)" id="servico" asp-page="./Servicos">Serviços</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @SettingsNavPages.EventosNavClass(ViewContext)" id="evento" asp-page="./Eventos">Eventos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @SettingsNavPages.CanalNavClass(ViewContext)" id="canal" asp-page="./Canal">Canais</a>
    </li> 
</ul>
