@using Sim.UI.Web.Areas.Settings.Pages.Common

<div class="navbar navbar-fixed">
    <nav class="navbar">
        <div class="nav-wrapper white">
            <span class="brand-logo grey-text" style="margin-left:10px;">Opções</span>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="@SettingsNavPages.SecretariaNavClass(ViewContext) grey-text" id="secretaria" asp-page="./Index">Secretaria</a>
                </li>
                <li>
                    <a class="@SettingsNavPages.SetoresNavClass(ViewContext) grey-text" id="setor" asp-page="./Setores">Setores</a>
                </li>
                <li>
                    <a class="@SettingsNavPages.ServicosNavClass(ViewContext) grey-text" id="servico" asp-page="./Servicos">Serviços</a>
                </li>
                <li>
                    <a class="@SettingsNavPages.CanalNavClass(ViewContext) grey-text" id="canal" asp-page="./Canal">Canais</a>
                </li>
                <li>
                    <a class="@SettingsNavPages.EventosNavClass(ViewContext) grey-text" id="evento" asp-page="./Eventos">Eventos</a>
                </li>
                <li>
                    <a class="@SettingsNavPages.EventosNavClass(ViewContext) grey-text" id="evento" asp-page="./Parceiros">Parceiros</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
