@page
@model Sim.UI.Web.Areas.Admin.Pages.Manager.IndexModel
@{
    Layout = "_Layout.cshtml";

    ViewData["Title"] = "Contas de Usuário";
    ViewData["ActivePage"] = AdminNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div>
    <table class="table table-striped">
        <caption>Lista de Usuários</caption>
        <thead>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Email
                </th>
                <th>
                    Email Confirmado
                </th>
                <th>
                    Bloqueado
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Input.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LockoutEnabled)
                    </td>
                    <td>
                    </td>
                    <td>
                        <a asp-page="./UserRoles" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary" title="Editar"><i class="fas fa-pen"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
