@page
@model Sim.UI.Web.Areas.Admin.Pages.Manager.UserRolesModel
@{
    ViewData["Title"] = "Perfil de Acesso";
}

<div class="container">
    <div class="col-md-6 mt-3">
        <a asp-area="Admin" asp-page="./Index" class="link-primary">Voltar</a> | <b>Perfil do Usuário</b>
    </div>
</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<hr />
<div>
      
    <form method="post">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Input.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Input.Id)
            </dd>
            <dt class="col-sm-2">
                Identificador
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Input.UserName)
            </dd>
            <dt class="col-sm-2">
                Nome
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Input.Name)
                @Html.DisplayFor(model => model.Input.LastName)
            </dd>
            <dt class="col-sm-2">
                Genero
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Input.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Input.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Input.Email)
            </dd>
        </dl>
        <div class="col-md-5">
            <div class="d-flex mb-3">
                <select asp-for="Selecionado" asp-items="Model.RoleList" class="form-select me-2" >
                    <option selected>-- Associar Perfil --</option>
                </select>
                <button type="submit" asp-page-handler="AddRole" asp-route-id="@Model.Input.Id" class="btn btn-outline-primary">Adicionar</button>
            </div>
        </div>

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Perfil Habilitado
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Input.ListRoles != null)
                    {
                                                
                            foreach (var item in Model.Input.ListRoles)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item)
                                    </td>
                                    
                                    <td>
                                    </td>

                                    <td>
                                        <button type="submit" asp-page-handler="RemoveRole" asp-route-id="@Model.Input.Id" asp-route-role="@item" class="btn btn-sm btn-outline-danger" title="Excluir Role"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>

