@using Sim.Domain.Cnpj.Entity;
@model IEnumerable<BaseJucesp>

<table class="responsive-table">
    <thead>
        <tr>
            <th>#</th>

            <th>
                I.E.
            </th>
            <th>
                CNPJ
            </th>

            <th>
                Nome Empresarial
            </th>

            <th>
                Regime
            </th>

            <th>
                Fiscal
            </th>

            <th>
                Data
            </th>

            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @{
            int cont = 0;
        }

        @if (Model != null)
        {

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @{ cont++; }
                @cont
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inscricao_Estadual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Nome_Empresarial)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Regime_Apuracao)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Ocorrencia_Fiscal)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Data_Situacao_Cadastral)
            </td>

            <td>
                <a class="btn btn-small waves-effect" asp-page="/Empresa/Jucesp-detail" asp-route-id="@item.CNPJ" target="_blank"><i class="material-icons">visibility</i></a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>


