@page
@model Sim.UI.Web.Pages.Empresa.Consulta_rsModel

@{
    ViewData["Title"] = "Lista";
    ViewData["ActivePage"] = EmpresaNavPages.Consulta;
}

<!--<partial name="_StatusMessage" model="Model.StatusMessage" />-->


    <form method="post">
        <input asp-for="Input.CNPJRes" hidden>
        <div class="row">
            <div class="col s12 m6 l6">
                    <div class="input-field valign-wrapper">
                        <input asp-for="Input.RazaoSocial" id="inputrz" />
                        <label asp-for="Input.RazaoSocial" for="inputrz"></label>
                        <button class="btn waves-effect" type="submit" role="button" id="button-addon2"><i class="material-icons">search</i></button>
                    </div>
                
            </div>
        </div>
    </form>

<div class="card">
    <table class="responsive-table">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    CNPJ
                </th>

                <th>
                    Nome Empresarial
                </th>

                <th>
                    Contato
                </th>

                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 0;
            }

            @foreach (var item in Model.Input.ListaEmpresas)
            {
                <tr>
                    <td>
                        @{ cont++; }
                        @cont
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNPJ)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nome_Empresarial)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        <a asp-page="./Update" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary" title="Alterar informações"><i class="material-icons">edit</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCNPJ').mask('00.000.000/0000-00', { placeholder: "__.___.___/____-__" });
    </script>
}
