@page
@model Sim.UI.Web.Pages.Empresa.IndexModel

@{
    ViewData["Title"] = "Lista";
}

<h5>Empresas</h5>
<hr class="border" />

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="mb-3">
    <form method="post">
        <div class="row">
            <div class="col-md-auto">
                <input asp-for="Input.CNPJRes" hidden>
                <div class="input-group">
                    <span class="input-group-text">CNPJ</span>
                    <input asp-for="Input.CNPJ" class="form-control" placeholder="CPF" aria-describedby="button-addon2" id="inputCNPJ">

                    @if (Model.Input.ListaEmpresas == null)
                    {
                        <a asp-area="" asp-page="/Empresa/Add" asp-route-id="@Model.Input.CNPJRes" class="btn btn-success" title="Adicionar Nova Empresa"><i class="fa fa-plus"></i></a>
                    }
                    else
                    {
                        @if (Model.Input.ListaEmpresas.Count() == 0)

                        {
                            <a asp-area="" asp-page="/Empresa/Add" asp-route-id="@Model.Input.CNPJRes" class="btn btn-success" title="Adicionar Nova Empresa"><i class="fa fa-plus"></i></a>
                        }
                        else
                        {
                            <button class="btn btn-primary" type="submit" role="button" id="button-addon2"><i class="fa fa-search"></i></button>
                        }
                    }
                </div>  
                <span asp-validation-for="Input.CNPJ" class="text-danger"></span>
            </div>
            <div class="col-md">
                <div class="input-group">
                    <a href="#" class="btn btn-primary" title="Consulta Avançada"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
                    <a href="#" class="btn btn-primary" title="Relatórios"><i class="fa fa-file" aria-hidden="true"></i></a>
                </div>
                
            </div>
        </div>
    </form>
</div>
<div>
    <table class="table table-bordered">
        <caption>Lista de empresas</caption>
        <thead>
            <tr class="bg-white">
                <th></th>
                <th>
                    CNPJ
                </th>

                <th>
                    Nome Empresarial
                </th>

                <th>
                    E-mail
                </th>

                <th>
                    Telefone
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 0;
            }

            @foreach (var item in Model.Input.ListaEmpresas)
            {
                <tr class="border-bottom">
                    <td>
                        @{ cont++; }
                        @cont
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNPJ)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nome_Empresarial)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>

                    <td>                        
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary" title="Alterar informações"><i class="far fa-edit"></i></a>
                        <a asp-page="./Remove" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger" title="Excluir informações"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCNPJ').mask('00.000.000/0000-00', { placeholder: "__.___.___/____-__" });
    </script>
}
