@page
@model Sim.UI.Web.Pages.Empresa.IndexModel

@{
    ViewData["Title"] = "Lista";
    ViewData["ActivePage"] = EmpresaNavPages.Consulta;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="mt-5 mb-5">
    <form method="post">
        <input asp-for="Input.CNPJRes" hidden>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            
            <div class="d-flex col-2">
                
                    <input asp-for="Input.CNPJ" class="form-control form-control-sm me-2" aria-describedby="button-addon2" id="inputCNPJ">
                    <button class="btn btn-sm btn-outline-primary" type="submit" role="button" id="button-addon2"><i class="fa fa-search"></i></button>
                
            </div>
        </div>
    </form>
</div>
<div>
    <table class="table table-striped">
        <caption>Lista de empresas @Model.Input.ListaEmpresas.Count()</caption>
        <thead>
            <tr>
                <th></th>
                <th>
                    CNPJ
                </th>

                <th>
                    Nome Empresarial
                </th>

                <th>
                    Contato
                </th>

                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 0;
            }

            @foreach (var item in Model.Input.ListaEmpresas)
            {
                <tr>
                    <td>
                        @{ cont++; }
                        @cont
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNPJ)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nome_Empresarial)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>                        
                        <a asp-page="./Update" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary" title="Alterar informações"><i class="fas fa-pen"></i></a>                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCNPJ').mask('00.000.000/0000-00', { placeholder: "__.___.___/____-__" });
    </script>
}
