@using Sim.Domain.Cnpj.Entity;
@model IEnumerable<BaseReceitaFederal>

<table class="responsive-table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                CNPJ
            </th>

            <th>
                Nome Empresarial
            </th>

            <th>
                Porte
            </th>

            <th>
                Contato
            </th>

            <th>
                Situação
            </th>

            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @{
            int cont = 0;
        }

        @if (Model != null)
        {

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{ cont++; }
                        @cont
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNPJ)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.RazaoSocial)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.PorteEmpresa)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Estabelecimento.DDD1)
                        @Html.DisplayFor(modelItem => item.Estabelecimento.Telefone1)
                        @Html.DisplayFor(modelItem => item.Estabelecimento.DDD2)
                        @Html.DisplayFor(modelItem => item.Estabelecimento.Telefone2)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Estabelecimento.SituacaoCadastral)
                    </td>
                    <td>
                        <a class="btn btn-small waves-effect" asp-page-handler="DetalheEmpresa" asp-route-id="@item.CNPJ" target="_blank" ><i class="material-icons">visibility</i></a>
                        <a class="btn btn-small waves-effect" asp-area="Censo" asp-page="/Empresas/Detalhe" asp-route-id="@item.CNPJ" target="_blank"><i class="material-icons">visibility</i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Modal Structure -->
<div id="viewmodal" class="modal modal-fixed-footer">
    <div class="modal-content">

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>