@using Sim.UI.Web.Areas.Censo.Pages.Empresas

<div class="navbar navbar-fixed">
    <nav class="navbar">
        <div class="nav-wrapper blue lighten-2">
            <span class="brand-logo" style="margin-left:10px;">Empresas</span>

            <ul class="right hide-on-small-and-down">
                <li hidden>
                    <a class="@EmpresaNavPages.InicioNavClass(ViewContext)" asp-page="/Empresas/Index">Listar</a>
                </li>
                <li>
                    <a class="dropdown-trigger @EmpresaNavPages.InicioNavClass(ViewContext) @EmpresaNavPages.ConsultaNomeNavClass(ViewContext) @EmpresaNavPages.ConsultaCNPJNavClass(ViewContext)" data-target="dropdownrfb" href="#">Consultar<i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdownrfb" class="dropdown-content">
                        <li><a asp-page="/Empresas/Index">N. CNPJ</a></li>
                        <li><a asp-page="/Empresas/Consulta-razao-social">Razao Social</a></li>
                        <li><a asp-page="/Empresas/Consulta-socio">Nome Sócio</a></li>
                        <li><a asp-page="/Empresas/Consulta-cnae">Atividade</a></li>
                        <li><a asp-page="/Empresas/Consulta-logradouro">Logradouro</a></li>
                        <li><a asp-page="/Empresas/Consulta-bairro">Bairro</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-trigger @EmpresaNavPages.SimplesNavClass(ViewContext)" data-target="dropdownspn" href="#">Simples Nacional<i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdownspn" class="dropdown-content">
                        <li><a asp-page="/Simples/Index">Optantes</a></li>
                        <li><a asp-page="/Simples/Consulta-cnae">Atividade</a></li>
                        <li><a asp-page="/Simples/Consulta-logradouro">Logradouro</a></li>
                        <li><a asp-page="/Simples/Consulta-bairro">Bairro</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

