@using Sim.Domain.Cnpj.Entity;
@model IEnumerable<BaseReceitaFederal>

<table class="table table-striped">
    <caption>Lista de empresas @if (Model != null) Model.Count();</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>
                CNPJ
            </th>

            <th>
                Nome Empresarial
            </th>

            <th>
                Porte
            </th>

            <th>
                Situação
            </th>

            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @{
            int cont = 0;
        }

        @if (Model != null)
        {

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{ cont++; }
                        @cont
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNPJ)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.RazaoSocial)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.PorteEmpresa)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Estabelecimento.SituacaoCadastral)
                    </td>
                    <td>

                        <a href="#" class="btn btn-sm btn-outline-secondary viewbutton" data-secao="Censo/Empresas" data-acao="Detalhe" data-id="@item.CNPJ" data-bs-toggle="modal" data-bs-target="#viewmodal"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="viewmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="viewmodalLabel">Detalhes</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="viewmodalData"></p>
            </div>
        </div>
    </div>
</div>