@page
@using Sim.UI.Web.Areas.Censo.Pages.Empresas
@model IndexModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Lista";
    ViewData["ActivePage"] = EmpresaNavPages.Inicio;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="mt-5 mb-5">
    <form method="post">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">            
            <div class="col-md-auto">
                <div class="input-group">
                    <span class="input-group-text">CNPJ</span>
                    <input asp-for="Input.CNPJ" class="form-control" aria-describedby="button-addon2" id="inputCNPJ">
                    <button class="btn btn-primary" type="submit" role="button" id="button-addon2"><i class="fa fa-search"></i></button>
                </div>
                <span asp-validation-for="Input.CNPJ" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>
<div>
    <table class="table table-light table-striped">
        <caption>Lista de empresas @Model.Input.ListaEmpresas.Count()</caption>
        <thead>
            <tr>
                <th></th>
                <th>
                    CNPJ
                </th>

                <th>
                    Nome Empresarial
                </th>

                <th>
                    Porte
                </th>

                <th>
                    Situação
                </th>

                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 0;
            }

            @foreach (var item in Model.Input.ListaEmpresas)
            {
            <tr>
                <td>
                    @{ cont++; }
                    @cont
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.RazaoSocial)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.PorteEmpresa)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Estabelecimento.SituacaoCadastral)
                </td>
                <td>
                    <a asp-page="./Detalhe" asp-route-id="@item.CNPJ" class="btn btn-sm btn-secondary" title="Ver informações"><i class="fas fa-eye"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCNPJ').mask('00.000.000/0000-00', { placeholder: "__.___.___/____-__" });
    </script>
}
