@page
@model Sim.UI.Web.Areas.Censo.Pages.Simples.IndexModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Simples Nacional";
    ViewData["ActivePage"] = EmpresaNavPages.Simples;
}

<!--<partial name="_StatusMessage" model="Model.StatusMessage" />-->

<div class="card">
    <form class="row" style="border-bottom:solid 1px #efefef; margin-bottom:0px;" method="post">        
        <div class="col s10 m5 l5 valign-wrapper" style="height: 64px;">
            <select asp-for="Input.Municipio" class="browser-default" asp-items="@Model.ListaMunicipios"></select>
        </div>
        <div class="col s2 m2 l2 valign-wrapper" style="height: 64px;">
            <button class="btn waves-effect" type="submit" role="button"><i class="material-icons">search</i></button>
        </div>
    </form>
    <table class="responsive-table">
        <thead>
            <tr>
                <th>
                    Optantes do Simples Nacional
                </th>
                <th>
                    Ativa
                </th>
                <th>
                    Inapta
                </th>
                <th>
                    Nula
                </th>
                <th>
                    Suspensa
                </th>
                <th>Baixada</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    ME, EPP e EIRELI
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSimplesNaoMEI.Ativa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSimplesNaoMEI.Inapta)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSimplesNaoMEI.Nula)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSimplesNaoMEI.Suspensa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSimplesNaoMEI.Baixada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.OptSimplesNaoMEI)
                </td>
            </tr>
            <tr>
                <td>
                    MEI
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSMEI.Ativa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSMEI.Inapta)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSMEI.Nula)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSMEI.Suspensa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSMEI.Baixada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.OptMEI)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Total</b>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSimples.Ativa)</b>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSimples.Inapta)</b>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSimples.Nula)</b>
                </td>

                <td>
                    <b>@Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSimples.Suspensa)</b>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaOptSimples.Baixada)</b>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.OptSimples)</b>
                </td>
            </tr>
            <tr>
                <td>
                    Exclusões do Simples Nacional (MEI, ME, EPP e EIRELI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaExclusaoSimples.Ativa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaExclusaoSimples.Inapta)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaExclusaoSimples.Nula)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaExclusaoSimples.Suspensa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ListaExclusaoSimples.Baixada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Input.VGOptantesSimples.ExclusaoSimples)
                </td>
            </tr>
        </tbody>
    </table>
</div>